<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/pain.css}">
    <link rel="stylesheet" th:href="@{/styles/mainStyle.css}">
    <link rel="stylesheet" th:href="@{/styles/headerStyle.css}">
    <link rel="stylesheet" th:href="@{/styles/navbarStyle.css}">
    <link rel="stylesheet" th:href="@{/styles/myStyle.css}">
    <link rel="stylesheet" th:href="@{/styles/footerStyle.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">
</head>
<body>
<div class="container">
    <div class="app-area">
        <!--Heade Start-->
        <div th:include="common/header"></div>
        <!--Header End-->

        <!--Main Start-->
        <div class="main-container">
            <!--Navbar Start-->
            <div th:include="common/navbar"></div>
            <!--Navbar End-->
            <!--개인 작업 시작-->
            <div class="contents">
                <div class="on">
                    <img src="/img/Back.png" onClick="location.href='/user/selectAll'" class="back">
                    <p class="topic">통증 관리</p>
                </div>
                <hr class="line1">
                <div class="allBox">
                    <div class="imgBox">
                        <div th:if="${pain != null}" th:switch="${pain?.pos}">
                            <img th:case="1" src="/images/오른다리.png" class="painImg">
                            <img th:case="2" src="/images/왼다리.png" class="painImg">
                            <img th:case="3" src="/images/오른팔.png" class="painImg">
                            <img th:case="4" src="/images/왼팔.png" class="painImg">
                            <img th:case="5" src="/images/상체.png" class="painImg">
                            <img th:case="6" src="/images/머리.png" class="painImg">
                        </div>
                        <div th:if="${pain == null}">
                            <img src="/images/기본.png" class="painImg">
                        </div>
                    </div>
                    <div class="middleBox">
                        <div class="painCategoryBox">
                            <form id="deleteForm" action="/pain/delete" method="post">
                                <div class="painPosBox" th:if="${pain != null}" th:switch="${pain?.pos}" onclick="submitForm()">
                                    <input type="hidden" name="deleteCode" th:value="${pain?.userCode}">
                                    <input type="hidden" name="deletePos" th:value="${pain?.pos}">
                                    <div th:switch="${pain?.pos}">
                                        <p th:case="1" class="posText">오른쪽-다리</p>
                                        <p th:case="2" class="posText">왼쪽-다리</p>
                                        <p th:case="3" class="posText">오른쪽-팔</p>
                                        <p th:case="4" class="posText">왼쪽-팔</p>
                                        <p th:case="5" class="posText">상체</p>
                                        <p th:case="6" class="posText">머리</p>
                                    </div>
                                </div>
                            </form>
                            <button class="painPosRegistBox">+</button>
                            <div class="modalContainer">
                                <div class="modalContent">
                                    <form id="registForm" action="/pain/regist" method="post">
                                        <div class="textBox">
                                            <input type="hidden" name="code" th:value="${userCode}">
                                            <input type="hidden" name="pos" id="posInput">
                                            <button class="checkButton" data-value="1">오른쪽-다리</button>
                                            <button class="checkButton" data-value="2">왼쪽-다리</button>
                                            <button class="checkButton" data-value="3">오른쪽-팔</button>
                                            <button class="checkButton" data-value="4">왼쪽-팔</button>
                                            <button class="checkButton" data-value="5">가슴</button>
                                            <button class="checkButton" data-value="6">얼굴</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="painDetail">
                            <p class="painExplainText">통증 유형</p>
                            <p class="painText" th:if="${pain != null}" th:text="${pain?.type}"></p>
                            <hr class="line2">
                            <p class="painExplainText">통증 기간</p>
                            <p class="painText" th:if="${pain != null}" th:text="${pain?.dur}"></p>
                            <hr class="line2">
                            <p class="painExplainText">통증 원인</p>
                            <p class="painText" th:if="${pain != null}" th:text="${pain?.cause}"></p>
                            <hr class="line2">
                            <p class="painExplainText">통증 강도</p>
                            <p class="painText" th:if="${pain != null}" th:text="${pain?.str}"></p>
                        </div>
                    </div>
                    <div th:if="${pain != null}">
                        <div th:if="${pain.pos != null}">
                            <div class="rightBox">
                                <form id="updateForm" action="/pain/update" method="post">
                                    <input type="hidden" name="updatePos" th:value="${pain?.pos}">
                                    <input type="hidden" name="updateCode" th:value="${userCode}">
                                    <span><input type="submit" value="수정" class="registButton"></span>
                                </form>
                                <div class="painStrBox">
                                    <p class="painExplainText">메모</p>
                                    <p th:text="${pain?.etc}" class="painText" style="height: 365px; width: 260px; word-wrap: break-word"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${pain == null || pain.pos == null}">
                        <div class="rightBox">
                            <div class="painStrBox" style="margin-top: 65px">
                                <p class="painExplainText">메모</p>
                                <p th:text="${pain?.etc}" class="painText" style="height: 365px; width: 260px; word-wrap: break-word"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--개인 작업 종료-->
        <!--Main End-->

        <!--Footer Start-->
        <div th:include="common/footer"></div>
        <!--Footer End-->
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
        $(document).ready(function () {

            $(".painPosRegistBox").click(function () {
                $(this).siblings(".modalContainer").show();
            });

            $(".modalContainer").click(function (event) {
                if ($(event.target).is(".modalContainer")) {
                    $(this).hide();
                }
            });
        })
</script>

<script>
    $(document).ready(function () {
        $(".checkButton").click(function () {
            var selectedValue = $(this).data("value");
            $("#posInput").val(selectedValue);

            $("#myForm").submit();
        });
    });
</script>

<script>
    function submitForm() {
        document.getElementById("deleteForm").submit();
    }
</script>

</body>
</html>