<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/painRegist.css}">
    <link rel="stylesheet" th:href="@{/styles/mainStyle.css}">
    <link rel="stylesheet" th:href="@{/styles/headerStyle.css}">
    <link rel="stylesheet" th:href="@{/styles/navbarStyle.css}">
    <link rel="stylesheet" th:href="@{/styles/myStyle.css}">
    <link rel="stylesheet" th:href="@{/styles/footerStyle.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">
</head>
<body>
<div class="container">
    <div class="app-area">
        <!--Heade Start-->
        <div th:include="common/header"></div>
        <!--Header End-->

        <!--Main Start-->
        <div class="main-container">
            <!--Navbar Start-->
            <div th:include="common/navbar"></div>
            <!--Navbar End-->
            <!--개인 작업 시작-->
            <div class="contents">
                <div class="on">
                    <img src="/img/Back.png" onClick="location.href='/user/selectAll'" class="back">
                    <p class="topic">통증 등록</p>
                </div>
                <hr class="line1">
                <form action="/pain/registPain" method="post">
                    <div class="allBox">
                        <div class="imgBox">
                            <img src="/images/painImg.png" class="painImg">
                        </div>
                        <div class="middleBox">
                            <div class="painCategoryBox">
                                <div class="painPosBox" th:if="${pain != null}" th:switch="${pain?.pos}">
                                    <div th:switch="${pain?.pos}">
                                        <p th:case="1" class="posText">오른쪽-다리</p>
                                        <p th:case="2" class="posText">왼쪽-다리</p>
                                        <p th:case="3" class="posText">오른쪽-팔</p>
                                        <p th:case="4" class="posText">왼쪽-팔</p>
                                        <p th:case="5" class="posText">가슴</p>
                                        <p th:case="6" class="posText">등</p>
                                        <p th:case="7" class="posText">머리</p>
                                    </div>
                                </div>
                                <button class="painPosRegistBox">+</button>
                            </div>
                            <div class="painDetail">
                                <p class="painExplainText">통증 유형</p>
                                <input type="text" class="inputBox" name="type" id="type" placeholder="통증 유형 입력 ex) 회전근개 파열, 오십견, 관절염 등">
                                <hr class="line2">
                                <p class="painExplainText">통증 기간</p>
                                <input type="text" class="inputBox" name="dur" id="dur" placeholder="통증 기간 입력 ex)  2주 전 등">
                                <hr class="line2">
                                <p class="painExplainText">통증 원인</p>
                                <input type="text" class="inputBox" name="cause" id="cause" placeholder="통증 원인 입력 ex) 농구하다가 넘어진 이후로 아픔, 손목이 꺾임 등">
                                <hr class="line2">
                                <p class="painExplainText">통증 강도</p>
                                <input type="text" class="inputBox" name="str" id="str" placeholder="통증 강도 입력 ex) 1~5사이">
                            </div>
                        </div>
                        <div class="rightBox">
                            <button type="submit" class="registButton">등록</button>
                            <div class="painStrBox" style="margin-top: 30px">
                                <p class="painExplainText">메모</p>
                                <input type="text" class="inputBox" name="etc" id="etc" placeholder="부가사항 자유롭게 작성" style="width: 260px; height: 330px">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--개인 작업 종료-->
        <!--Main End-->

        <!--Footer Start-->
        <div th:include="common/footer"></div>
        <!--Footer End-->
    </div>
</div>

</body>
</html>