<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https:/mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.willingtogohome.gymga.user.model.dao.UserMapper">

    <resultMap id="userResultMap" type="com.willingtogohome.gymga.user.model.dto.UserDTO">
        <id property="code" column="user_code"/>
        <result property="id" column="user_id"/>
        <result property="pwd" column="user_pwd"/>
        <result property="name" column="user_name"/>
        <result property="phone" column="user_phone"/>
        <result property="role" column="user_role"/>
        <result property="pic" column="user_pic"/>
        <result property="gender" column="user_gender"/>
        <result property="birth" column="user_birth"/>
        <result property="address" column="user_address"/>
        <result property="etc" column="user_etc"/>
        <result property="staff" column="user_staff"/>
    </resultMap>

    <resultMap id="userTotResultMap" type="com.willingtogohome.gymga.user.model.dto.UserDTO">
        <id property="code" column="user_code"/>
        <result property="id" column="user_id"/>
        <result property="pwd" column="user_pwd"/>
        <result property="name" column="user_name"/>
        <result property="phone" column="user_phone"/>
        <result property="role" column="user_role"/>
        <result property="pic" column="user_pic"/>
        <result property="gender" column="user_gender"/>
        <result property="birth" column="user_birth"/>
        <result property="address" column="user_address"/>
        <result property="etc" column="user_etc"/>
        <result property="staff" column="user_staff"/>
        <association property="physicalDTO" javaType="com.willingtogohome.gymga.user.model.dto.PhysicalDTO">
            <id property="code" column="USER_CODE"/>
            <result property="height" column="PHY_HEIGHT"/>
            <result property="weight" column="PHY_WEIGHT"/>
            <result property="bmi" column="PHY_BMI"/>
        </association>
    </resultMap>

    <select id="AllUser" resultMap="userResultMap">
        SELECT
               USER_CODE
            ,  USER_NAME
            ,  USER_ID
            ,  USER_GENDER
            ,  USER_PHONE
            ,  USER_STAFF
         FROM USERDB
        WHERE USER_ROLE = '회원'
        ORDER BY USER_CODE
    </select>

    <select id="findLastCode">
        SELECT
                MAX(USER_CODE)
        FROM USERDB
    </select>

    <select id="selectDetail" parameterType="com.willingtogohome.gymga.user.model.dto.UserTotDTO">
        SELECT
                A. USER_NAME
             ,  A. USER_ID
             ,  A. USER_PWD
             ,  A. USER_BIRTH
             ,  A. USER_GENDER
             ,  A. USER_PHONE
             ,  A. USER_ADDRESS
             ,  A. USER_ETC
             ,  B.PHY_HEIGHT
             ,  B.PHY_WEIGHT
             ,  B.PHY_BMI
        FROM USERDB A
        JOIN PHYSICALDB B ON A.USER_CODE = B.USER_CODE
        WHERE USER_CODE = #{code}
    </select>

    <delete id="userPain" parameterType="int">
        DELETE FROM PAINDB
        WHERE USER_CODE = #{code}
    </delete>

    <delete id="facilityUser" parameterType="int">
        DELETE FROM FACILITYDB
        WHERE USER_CODE = #{code}
    </delete>

    <delete id="physicalUser" parameterType="int">
        DELETE FROM PHYSICALDB
        WHERE USER_CODE = #{code}
    </delete>

    <delete id="scheduleUser" parameterType="int">
        DELETE FROM SCHEDULEDB
        WHERE MEMBER_CODE = #{code}
    </delete>

    <delete id="validateUser" parameterType="int">
        DELETE FROM VALIDATEDB
        WHERE USER_CODE = #{code}
    </delete>

    <delete id="deleteUser" parameterType="int">
        DELETE FROM USERDB
        WHERE USER_CODE = #{code}
    </delete>


    <select id="searchedUser" resultMap="userResultMap">
        SELECT
                USER_CODE
             ,  USER_NAME
             ,  USER_ID
             ,  USER_GENDER
             ,  USER_PHONE
             ,  USER_STAFF
        FROM USERDB
        <where>
            <if test="condition == 'name'">
                AND USER_NAME Like CONCAT('%', #{ text }, '%')
            </if>
            <if test="condition == 'id'">
                AND USER_ID Like CONCAT('%', #{ text }, '%')
            </if>
            AND USER_ROLE = '회원'
        </where>
        ORDER BY USER_CODE
    </select>

    <insert id="registUser" parameterType="com.willingtogohome.gymga.user.model.dto.UserDTO">
        INSERT INTO USERDB(
                USER_CODE
             ,  USER_ROLE
             ,  USER_NAME
             ,  USER_ID
             ,  USER_PWD
             ,  USER_BIRTH
             ,  USER_GENDER
             ,  USER_PHONE
             ,  USER_ADDRESS
             ,  USER_ETC
             ,  USER_STAFF
        )
        VALUES(
                #{ code }
              , #{ role }
              , #{ name }
              , #{ id }
              , #{ pwd }
              , #{ birth }
              , #{ gender }
              , #{ phone }
              , #{ address }
              , #{ etc }
              , #{ staff }
        )
    </insert>

    <insert id="registUserPhysical" parameterType="com.willingtogohome.gymga.user.model.dto.PhysicalDTO">
        INSERT INTO PHYSICALDB(
                USER_CODE
                ,  PHY_HEIGHT
                ,  PHY_WEIGHT
                ,  PHY_BMI

        )
        VALUES(
                #{ code }
                , #{ height }
                , #{ weight }
                , #{ bmi }
        )
    </insert>


</mapper>