<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.willingtogohome.gymga.sale.model.dao.SaleMapper">

    <resultMap id="salesMap" type="com.willingtogohome.gymga.sale.model.dto.SaleDTO">
        <id property="passCode" column="pass_code"/>
        <result property="salesMethod" column="sales_method"/>
        <result property="salesDate" column="sales_date"/>
    </resultMap>

<resultMap id="passResultMap" type="com.willingtogohome.gymga.pass.model.dto.PassAndPassQualDTO">
    <id property="passCode" column="pass_code"/>
    <result property="passStatus" column="pass_status"/>
    <result property="passStart" column="pass_start"/>
    <result property="passEnd" column="pass_end"/>
    <result property="passTotal" column="pass_total"/>
    <result property="passUse" column="pass_use"/>
    <result property="userCode" column="user_code"/>
    <result property="pqCode" column="pq_code"/>
    <association property="passQualDTO" javaType="com.willingtogohome.gymga.pass.model.dto.PassQualDTO">
        <id property="pqCode" column="pq_code"/>
        <result property="pqName" column="pq_name"/>
        <result property="pqPrice" column="pq_price"/>
    </association>
</resultMap>

    <select id="findAllList" resultMap="salesMap">
        SELECT
            pass_code,
            sales_method,
            sales_date
        FROM salesdb
    </select>

    <select id="findPassAndPassQualList" resultMap="passResultMap">
        SELECT
        A.pass_code,
        A.pq_code,
        B.pq_name,
        A.pass_status,
        A.pass_start,
        A.pass_end,
        A.pass_total,
        A.pass_use,
        A.user_code,
        B.pq_price
        FROM passdb A
        JOIN passqualdb B ON A.pq_code = B.pq_code
        order by A.pass_code;
    </select>

    <select id="" resultType="">
        SELECT
        <if test="PT_Count != 0">
            SUM(CASE WHEN A.pq_code LIKE 'PT%' THEN 1 ELSE 0 END) AS PT_Count,
        </if>
        <if test="GX_Count != 0">
            SUM(CASE WHEN A.pq_code LIKE 'GX%' THEN 1 ELSE 0 END) AS GX_Count,
        </if>
        <if test="GP_Count != 0">
            SUM(CASE WHEN A.pq_code LIKE 'GP%' THEN 1 ELSE 0 END) AS GP_Count
        </if>
        FROM passdb A
    </select>

</mapper>