<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/mainStyle.css">
    <link rel="stylesheet" href="/styles/headerStyle.css">
    <link rel="stylesheet" href="/styles/navbarStyle.css">
    <link rel="stylesheet" href="/styles/myStyle.css">
    <link rel="stylesheet" href="/styles/footerStyle.css">
    <link rel="stylesheet" href="/emp/styles/empPageStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">
</head>
<body>
    <div class="container">
        <div class="app-area">
            <!--Heade Start-->
            <div th:include="common/header"></div>
            <!--Header End-->

            <!--Main Start-->
            <div class="main-container">
                <!--Navbar Start-->
                <div th:include="common/navbar"></div>
                <!--Navbar End-->
                <!--개인 작업 시작-->
                <div class="my-style">
                    <div class="outerDiv">
                        <div class="mainBox" style="width: 1140px">
                            <div>
                                <img class="back" src="/emp/images/icon-back.png" onClick="history.back()">
                                <div class="main">
                                    <span class="titleText">죄송합니다</span>
                                </div>
                                <hr class="line" style="width: 1080px">
                            </div>
                            <div style="text-align: center; padding: 100px">
                                <img src="/emp/images/sad-icon.png" style="width: 150px; height: 150px"><br>
                                <h2 th:text="${ message }"></h2><br>
                                <span th:text="|문의 내용 안내 : ${ exception }|" style="color: rgba(171, 171, 171, 1)"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--개인 작업 종료-->
            </div>
            <!--Main End-->

            <!--Footer Start-->
            <div th:include="common/footer"></div>
            <!--Footer End-->
        </div>
    </div>
</body>
</html>