<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>직원 조회</title>
    <link rel="stylesheet" href="/styles/mainStyle.css">
    <link rel="stylesheet" href="/styles/headerStyle.css">
    <link rel="stylesheet" href="/styles/navbarStyle.css">
    <link rel="stylesheet" href="/styles/myStyle.css">
    <link rel="stylesheet" href="/styles/footerStyle.css">
    <link rel="stylesheet" href="/emp/styles/empMainStyle.css">
    <link rel="stylesheet" href="/emp/styles/empPageStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">
    <link rel="shortcut icon" href="#">
</head>
<body>
    <div class="container">
        <div class="app-area">
            <!--Heade Start-->
            <div th:include="common/header"></div>
            <!--Header End-->

            <!--Main Start-->
            <div class="main-container">
                <!--Navbar Start-->
                <div th:include="common/navbar"></div>
                <!--Navbar End-->
                <!--개인 작업 시작-->
                <div class="my-style">
                    <div class="outerDiv">
                        <div sec:authorize="hasAnyAuthority('USER')">
                            <div class="mainBox">
                                <div>
                                    <img class="back" src="/emp/images/icon-back.png" onClick="location.href='/emp/'"/>
                                    <div class="main">
                                        <span class="titleText">직원 조회</span>
                                    </div>
                                    <hr class="line" style="width: 700px">
                                </div>
                                <div>
                                    <div th:object="${ emp }">
                                        <div class="userInfoBox">
                                            <div class="previewBox">
                                                <img th:src="|/imageFile/${ emp.pic }|">
                                            </div>
                                            <div style="float: left">
                                                <div>
                                                    <div style="float: left;">
                                                        <div class="spanTagBoxWOSup"
                                                             style="margin-left: 10px; width: 111.84px">
                                                            <span>사용자 번호</span><br>
                                                            <span>아이디</span><br>
                                                            <span>직급</span>
                                                        </div>
                                                        <div class="spanTagBoxWOSup" style="width: 126.99px">
                                                            <span th:text="|*{ code }|"></span><br>
                                                            <span th:text="|*{ id }|"></span><br>
                                                            <span th:text="*{ role == 'ADMIN'? '대표' : '직원' }"></span>
                                                        </div>
                                                    </div>
                                                    <div style="float: left; margin-left: 10px">
                                                        <div class="spanTagBoxWOSup">
                                                            <span>이름</span><br>
                                                            <span>전화번호</span><br>
                                                            <span>생년월일</span><br>
                                                            <span>성별</span>
                                                        </div>
                                                        <div class="spanTagBoxWOSup" style="margin-left: 30px">
                                                            <span th:text="|*{ name }|"></span><br>
                                                            <span th:text="|*{ phone }|"></span><br>
                                                            <span th:text="|*{ birth }|"></span><br>
                                                            <span th:text="|*{ gender }|"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div style="clear: left">
                                                    <div class="spanTagBoxWOSup" style="margin-left: 10px">
                                                        <span>주소</span>
                                                    </div>
                                                    <div class="spanTagBoxWOSup" style="margin-left: 88px">
                                                        <span th:text="|*{ address }|"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="detailBox">
                                            <div style="float: left; margin-left: 50px; margin-right: 50px">
                                                <div>
                                                    <h4>신체조건</h4>
                                                    <div class="spanTagBoxWOSup">
                                                        <span>키</span><br>
                                                        <span>체중</span><br>
                                                        <span>BMI</span><br>
                                                        <span>기타</span>
                                                    </div>
                                                    <div class="spanTagBoxWOSup" style="width: 120px">
                                                        <span th:text="|*{ physicalDTO.height } cm|"></span><br>
                                                        <span th:text="|*{ physicalDTO.weight } kg|"></span><br>
                                                        <span th:text="|*{ physicalDTO.bmi }|"></span><br>
                                                        <span th:text="|*{ etc }|"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="float: left; margin-right: 60px">
                                                <h4>자격 사항</h4>
                                                <div class="spanTagBoxWOSup" style="width: 165px">
                                                    <span th:text="|*{ employeeDTO.qual }|"></span>
                                                </div>
                                            </div>
                                            <div style="float: left">
                                                <h4>경력 사항</h4>
                                                <div class="spanTagBoxWOSup" style="margin-left: 8px">
                                                    <span>근무지</span><br>
                                                    <span>기간</span><br>
                                                    <span>전체 사항</span><br>
                                                    <span>기본급</span><br>
                                                </div>
                                                <div class="spanTagBoxWOSup">
                                                    <span th:text="|*{ employeeDTO.location }|"></span><br>
                                                    <span th:text="|*{ employeeDTO.year }년 *{ employeeDTO.month }개월|"></span><br>
                                                    <span th:text="|*{ employeeDTO.totalYear }년 *{ employeeDTO.totalMonth }개월|"></span><br>
                                                    <span th:text="|*{ employeeDTO.salary } 원|"></span>
                                                </div>
                                            </div>
                                            <div style="clear: left; margin-left: 50px; padding-top: 30px">
                                                <div style="float: right; margin-right: 300px">
                                                    <div style="float: left">
                                                        <button class="submitButton"
                                                                onClick="location.href='/emp/update'">수정
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div sec:authorize="hasAnyAuthority('ADMIN')">
                            <div class="empBox">
                                <div class="empList">
                                    <!--                <div style="margin-bottom: 20px">-->
                                    <div style="margin-top: 3px; margin-bottom: 22px">
                                        <span class="topic">직원 목록</span>
                                    </div>
                                    <hr class="line1">
                                    <div class="list">
                                        <div class="empBlock" th:each="emp : ${ empList }">
                                            <div class="empBlockLeft">
                                                <img class="empImg" th:src="|/imageFile/${ emp.pic }|"/>
                                            </div>
                                            <div class="empBlockRight">
                                                <span class="empName" th:text="${ emp.name }"></span><br>
                                                <span class="empRole"
                                                      th:text="${ emp.role == 'ADMIN'? '대표' : '직원' }"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="bigButton" onClick="location.href='/emp/regist'">
                                        <!--                    <img src="/emp/images/emp-regist.png" style="width: 200px"><br>-->
                                        <img src="/emp/images/emp-regist.png" style="width: 150px"><br>
                                        신규 직원 등록
                                    </div>
                                    <div class="bigButton" onClick="location.href='/emp/search'">
                                        <!--                    <img src="/emp/images/emp-search.png" style="width: 200px"><br>-->
                                        <img src="/emp/images/emp-search.png" style="width: 150px"><br>
                                        직원 조회 및 정보 수정
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scheduleBox">
                            <span class="topic" id="today1"></span>
                            <span class="date" id="today2"></span>
                            <span class="moreSche" onclick="location.href='/schedule/schedulemain'">더보기</span><br>
                            <table class="cal">
                                <tr>
                                    <th class="none">일</th>
                                    <th class="none">월</th>
                                    <th class="none">화</th>
                                    <th class="none">수</th>
                                    <th class="none">목</th>
                                    <th class="none">금</th>
                                    <th class="none">토</th>
                                </tr>
                                <tr>
                                    <td id="sun" class="none"></td>
                                    <td id="mon" class="none"></td>
                                    <td id="tue" class="none"></td>
                                    <td id="wed" class="none"></td>
                                    <td id="thu" class="none"></td>
                                    <td id="fri" class="none"></td>
                                    <td id="sat" class="none"></td>
                                </tr>
                            </table>
                            <hr class="line2">
                            <div class="scheBox" style="font-size: 14px">
                                <div class="timeLine">
                                    <div class="pointer" id="pointer1"></div>
                                    <hr class="verticalLine">
                                    <div class="pointer" id="pointer2"></div>
                                    <hr class="verticalLine">
                                    <div class="pointer" id="pointer3"></div>
                                    <hr class="verticalLine">
                                    <div class="pointer" id="pointer4"></div>
                                    <hr class="verticalLine">
                                    <div class="pointer" id="pointer5"></div>
                                    <hr class="verticalLine">
                                    <div class="pointer" id="pointer6"></div>
                                </div>
                                <span id="time1">8:00 am</span><br>
                                <div class="scheList" id="scheList1">
                                    <div th:each="sche : ${ scheList1 }">
                                        <span th:text="|${ sche.empDTO.name }님 ${ sche.classDTO.name } 일정 (${ sche.start })|"></span>
                                    </div>
                                </div>
                                <span id="time2">10:00 am</span><br>
                                <div class="scheList" id="scheList2">
                                    <div th:each="sche : ${ scheList2 }">
                                        <span th:text="|${ sche.empDTO.name }님 ${ sche.classDTO.name } 일정 (${ sche.start })|"></span>
                                    </div>
                                </div>
                                <span id="time3">12:00 pm</span><br>
                                <div class="scheList" id="scheList3">
                                    <div th:each="sche : ${ scheList3 }">
                                        <span th:text="|${ sche.empDTO.name }님 ${ sche.classDTO.name } 일정 (${ sche.start })|"></span>
                                    </div>
                                </div>
                                <span id="time4">14:00 pm</span><br>
                                <div class="scheList" id="scheList4">
                                    <div th:each="sche : ${ scheList4 }">
                                        <span th:text="|${ sche.empDTO.name }님 ${ sche.classDTO.name } 일정 (${ sche.start })|"></span>

                                    </div>
                                </div>
                                <span id="time5">16:00 pm</span><br>
                                <div class="scheList" id="scheList5">
                                    <div th:each="sche : ${ scheList5 }">
                                        <span th:text="|${ sche.empDTO.name }님 ${ sche.classDTO.name } 일정 (${ sche.start })|"></span>
                                    </div>
                                </div>
                                <span id="time6">18:00 pm</span><br>
                                <!--                <div class="scheList" style="height: 164px; margin-left: 20px">-->
                                <div class="scheList" id="scheList6" style="height: 120px; margin-left: 20px">
                                    <div th:each="sche : ${ scheList6 }">
                                        <span th:text="|${ sche.empDTO.name }님 ${ sche.classDTO.name } 일정 (${ sche.start })|"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--개인 작업 종료-->
            </div>
            <!--Main End-->

            <!--Footer Start-->
            <div th:include="common/footer"></div>
            <!--Footer End-->
        </div>
    </div>

    <script>
        var d = new Date();
        var a = new Date();

        let day = document.getElementById("today1");
        let date = document.getElementById("today2");
        let sun = document.getElementById("sun");
        let mon = document.getElementById("mon");
        let tue = document.getElementById("tue");
        let wed = document.getElementById("wed");
        let thu = document.getElementById("thu");
        let fri = document.getElementById("fri");
        let sat = document.getElementById("sat");

        switch (d.getDay()) {
            case 0: day.innerHTML = '오늘, 일요일';
                    sun.className = "today";
                    a.setDate(d.getDate());
                    sun.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 1);
                    mon.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 2);
                    tue.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 3);
                    wed.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 4);
                    thu.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 5)
                    fri.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 6)
                    sat.innerHTML = a.getDate();
                    break;
            case 1: day.innerHTML = '오늘, 월요일';
                    mon.className = "today";
                    a.setDate(d.getDate() - 1);
                    sun.innerHTML = a.getDate();
                    a.setDate(d.getDate());
                    mon.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 1);
                    tue.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 2);
                    wed.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 3);
                    thu.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 4)
                    fri.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 5)
                    sat.innerHTML = a.getDate();
                    break;
            case 2: day.innerHTML = '오늘, 화요일';
                    tue.className = "today";
                    a.setDate(d.getDate() - 2);
                    sun.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 1);
                    mon.innerHTML = a.getDate();
                    a.setDate(d.getDate());
                    tue.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 1);
                    wed.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 2);
                    thu.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 3)
                    fri.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 4)
                    sat.innerHTML = a.getDate();
                    break;
            case 3: day.innerHTML = '오늘, 수요일';
                    wed.className = "today";
                    a.setDate(d.getDate() - 3);
                    sun.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 2);
                    mon.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 1);
                    tue.innerHTML = a.getDate();
                    a.setDate(d.getDate());
                    wed.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 1);
                    thu.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 2)
                    fri.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 3)
                    sat.innerHTML = a.getDate();
                    break;
            case 4: day.innerHTML = '오늘, 목요일';
                    thu.className = "today";
                    a.setDate(d.getDate() - 4);
                    sun.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 3);
                    mon.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 2);
                    tue.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 1);
                    wed.innerHTML = a.getDate();
                    a.setDate(d.getDate());
                    thu.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 1)
                    fri.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 2)
                    sat.innerHTML = a.getDate();
                    break;
            case 5: day.innerHTML = '오늘, 금요일';
                    fri.className = "today";
                    a.setDate(d.getDate() - 5);
                    sun.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 4);
                    mon.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 3);
                    tue.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 2);
                    wed.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 1);
                    thu.innerHTML = a.getDate();
                    a.setDate(d.getDate())
                    fri.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 1)
                    sat.innerHTML = a.getDate();
                    break;
            case 6: day.innerHTML = '오늘, 토요일';
                    sat.className = "today";
                    a.setDate(d.getDate() - 6);
                    sun.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 5);
                    mon.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 4);
                    tue.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 3);
                    wed.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 2);
                    thu.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 1)
                    fri.innerHTML = a.getDate();
                    a.setDate(d.getDate())
                    sat.innerHTML = a.getDate();
                    break;
        }

        date.innerHTML = d.getFullYear() + '.' + ((d.getMonth() + 1) < 10? '0' + (d.getMonth() + 1) : (d.getMonth() + 1)) + '.' + (d.getDate() < 10? '0' + d.getDate() : d.getDate());


        switch (d.getHours()) {
            case 8 : case 9: document.getElementById("pointer1").className = "pointerTime";
                             document.getElementById("time1").className = "scheTime";
                             document.getElementById("scheList1").className = "scheList scheListTime"; break;
            case 10 : case 11: document.getElementById("pointer2").className = "pointerTime";
                               document.getElementById("time2").className = "scheTime";
                               document.getElementById("scheList2").className = "scheList scheListTime"; break;
            case 12 : case 13: document.getElementById("pointer3").className = "pointerTime";
                               document.getElementById("time3").className = "scheTime";
                               document.getElementById("scheList3").className = "scheList scheListTime"; break;
            case 14 : case 15: document.getElementById("pointer4").className = "pointerTime";
                               document.getElementById("time4").className = "scheTime";
                               document.getElementById("scheList4").className = "scheList scheListTime"; break;
            case 16 : case 17: document.getElementById("pointer5").className = "pointerTime";
                               document.getElementById("time5").className = "scheTime";
                               document.getElementById("scheList5").className = "scheList scheListTime"; break;
            default: document.getElementById("pointer6").className = "pointerTime";
                     document.getElementById("time6").className = "scheTime";
                     document.getElementById("scheList6").className = "scheList scheListTime"; break;
        }
    </script>
</body>
</html>