<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div onclick="location.href='/pass/regist1'">
        <img src="/pass/images/pass-regist.png"><br>
        <span>이용권 등록</span>
    </div>
    <div onclick="location.href='/pass/select'">
        <img src="/pass/images/pass-select.png"><br>
        <span>이용권 조회</span>
    </div>
    <div onclick="location.href='/pass/update'">
        <img src="/pass/images/pass-update.png"><br>
        <span>이용권 변경 및 환불</span>
    </div>
</body>
</html>