<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이용권 환불</title>
    <link rel="stylesheet" href="/styles/mainStyle.css">
    <link rel="stylesheet" href="/styles/headerStyle.css">
    <link rel="stylesheet" href="/styles/navbarStyle.css">
    <link rel="stylesheet" href="/styles/myStyle.css">
    <link rel="stylesheet" href="/styles/passUpdateStyle.css">
    <link rel="stylesheet" href="/styles/footerStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">
</head>
<body>
<div class="container">
    <div class="app-area">
        <!--Heade Start-->
        <div th:include="common/header"></div>
        <!--Header End-->

        <!--Main Start-->
        <div class="main-container">
            <!--Navbar Start-->
            <div th:include="common/navbar"></div>
            <!--Navbar End-->
            <!--개인 작업 시작-->
            <div class="my-style">
                <div class="contents">
                    <div class="on">
                        <img src="/img/Back.png" onClick="location.href='/pass/main'" class="back">
                        <p class="text">이용권 환불</p>
                        <form action="/pass/updatesearch" method="post" class="top">
                            <input type="text" class="search" name="search" placeholder="검색 내용">
                            <select name="category" class="option">
                                <option value="basic">카테고리</option>
                                <option value="name">이름</option>
                                <option value="id">아이디</option>
                            </select>
                            <button type="submit" class="searchButton">검색</button>
                        </form>
                    </div>
                    <hr class="hr1">
                    <div class="title">
                        <p class="titleText">이름</p>
                        <p class="titleText">아이디</p>
                        <p class="titleText">이용권</p>
                        <p class="titleText">이용권 상태</p>
                        <p class="titleText">결제 금액</p>
                        <p class="titleText">담당 강사</p>
                        <p class="titleText" style="padding-right: 29px">환불</p>
                    </div>
                    <hr class="hr2">
                    <div class="passUpdate">
                        <div class="userList" th:each="pass:${passList}"
                             th:data-user-code="${pass.userDTO.userCode}"
                             th:data-user-name="${pass.userDTO.userName}"
                             th:data-user-id="${pass.userDTO.userId}"
                             th:data-pq-name="${pass.passQualDTO.pqName}"
                             th:data-pass-status="${pass.passStatus}"
                             th:data-pq-code="${pass.passQualDTO.pqCode}"
                             th:data-pq-price="${pass.passQualDTO.pqPrice}">
                            <p class="userName" th:text="${pass.userDTO.userName}"></p>
                            <p class="userId" th:text="${pass.userDTO.userId}"></p>
                            <p class="pqName" th:text="${pass.passQualDTO.pqName}"></p>
                            <p class="passStatus" th:text="${pass.passStatus}"></p>
                            <p class="passPrice" th:text="${pass.passQualDTO.pqPrice}"></p>
                            <p class="userStaff" th:if="${pass.userDTO.userStaff == 0 || pass.userDTO.userStaff == null}" th:text="없음"></p>
                            <p class="userStaff" th:if="${pass.userDTO.userStaff}">
                                <span th:text="${pass.userDTO.staffName}"></span>
                            </p>
                            <div class="buttonBox">
                                <input type="hidden" name="code" th:value="${pass.userDTO.userCode}">
                                <button class="refundButton">환불</button>
                            </div>
                            <div class="modalContainer2">
                                <div class="modalContent2">
                                    <div class="textBox" th:object="${pass}">
                                        <form action="/pass/refund" method="post">
                                            <h2 style="color: black; text-align: center; padding-top: 60px;">이용권 환불</h2>
                                            <div class="text2">
                                                <label class="modalText">
                                                    회원명
                                                    <input type="text" id="userName2" name="userName" class="modalUserName" th:placeholeder="${pass.userDTO.userName}" readonly>
                                                </label><br>
                                                <label class="modalText">
                                                    회원ID
                                                    <input type="text" id="userId2" name="userId" class="modalUserId" th:placeholeder="${pass.userDTO.userId}" readonly>
                                                </label><br>
                                                <label class="modalText">
                                                    환불 이용권
                                                    <input type="text" id="pqName2" name="pqName" class="modalPqName" th:placeholeder="${pass.passQualDTO.pqName}" readonly>
                                                </label><br>
                                                <label class="modalText">
                                                    환불 사유
                                                    <input type="text" id="reason" name="reason" class="reason" style="color: black">
                                                </label><br>
                                                <label class="modalText">
                                                    총 환불금액 / 위약금
                                                    <input type="text" id="pqPrice2" name="pqPrice" class="modalPqPrice" style="margin-left: 12px" th:value="${pass.passQualDTO.pqPrice}" readonly>
                                                    <input type="text" id="pqPrice3" name="pqPrice" class="modalPqPrice" th:value="${pass.passQualDTO.pqPrice * 0.1}" readonly>
                                                </label><br>
                                                <label class="modalText">
                                                    변경 날짜
                                                    <input type="text" id="today2" name="today" class="modalToday" readonly>
                                                </label>
                                                <div class="modalButtonBox2">
                                                    <button class="cancelButton2" type="button">취소</button>
                                                    <input type="hidden" name="code" th:value="${pass.userDTO.userCode}">
                                                    <input class="refundButton2" type="submit" value="환불" style="width: 130px; height: 43px; border-radius: 10px; color: #ffffff; padding: 0; border: 1px solid #FFFFFF;">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--개인 작업 종료-->
        </div>
        <!--Main End-->

        <!--Footer Start-->
        <div th:include="common/footer"></div>
        <!--Footer End-->
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        var userListSize = $(".userList").length;
        for (var i = 0; i < userListSize - 1; i++) {
            var userList = $(".userList:eq(" + i + ")");
            userList.after("<div>");
            var hrDiv = userList.next();
            hrDiv.append("<div><hr class='hr3'></div>");
        }

        $(".changeButton").click(function() {
            var userList = $(this).closest(".userList");
            var userName = userList.data("userName");
            var userId = userList.data("userId");
            var pqName = userList.data("pqName");
            var pqPrice = userList.data("pqPrice");

            var modal = userList.find(".modalContainer");
            modal.find(".modalUserName").val(userName);
            modal.find(".modalUserId").val(userId);
            modal.find(".modalPqName").val(pqName);
            modal.find(".modalPqPrice").val(pqPrice);
            modal.find(".modalPqPrice").val(pqPrice.toLocaleString()+"원");

            var today = new Date().toISOString().split('T')[0];
            modal.find(".modalToday").val(today);

            modal.show();
        });

        $(".refundButton").click(function () {
            var userList = $(this).closest(".userList");
            var userName = userList.data("userName");
            var userId = userList.data("userId");
            var pqName = userList.data("pqName");

            var modal = userList.find(".modalContainer2");
            modal.find(".modalUserName").val(userName);
            modal.find(".modalUserId").val(userId);
            modal.find(".modalPqName").val(pqName);

            var today = new Date().toISOString().split('T')[0];
            modal.find(".modalToday").val(today);

            modal.show();
        });

        $(".cancelButton2").click(function() {
            $(this).closest(".modalContainer2").hide();
        });

        $(".modalNewPass").change(function (){
            var newPrice = parseInt($(this).find('option:selected').data("price"));
            var modalContent = $(this).closest(".modalContent");
            var currentPrice = parseInt(modalContent.find(".modalPqPrice").val());
            var additionalPrice = newPrice - currentPrice;
            if (!isNaN(additionalPrice)) {
                modalContent.find(".modalPqPrice").val(additionalPrice.toLocaleString() + "원");
            } else {
                modalContent.find(".modalPqPrice").val("선택된 이용권의 가격을 가져올 수 없습니다.");
            }
        });

        var today = new Date().toISOString().split('T')[0];
        $("#today").val(today);
    });
</script>

<!-- 금액 원 -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var prices = document.querySelectorAll('.passPrice');
        prices.forEach(function(price) {
            var value = price.textContent.trim();
            var formattedValue = Number(value).toLocaleString('en');
            price.textContent = formattedValue + '원';
        });
    });
</script>

<!-- 변경 수업 선택 스크립트 -->
<script>
    fetch("/pass/class")
        .then(res => res.json())
        .then(data => {
            const $pqCode = document.getElementById("pqCode");

            for (let index in data) {
                const $option = document.createElement('option');
                $option.value = data[index].pqCode;
                $option.text = data[index].pqName;

                $pqCode.appendChild($option);
                document.getElementById("pqSelectCode").value = data[index].pqCode;
            }
        })
</script>
</body>
</html>