<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="modal fade" id="facActionModal2" tabindex="-1" role="dialog" aria-labelledby="facActionModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="facActionModalLabel2">사물함 등록</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/fac/regist" method="post">
                    <label>사물함 번호: </label>
                    <select name="facCode" id="facCode"></select><br>
                    <label>회원 코드: </label>
                    <select name="userCode" id="userCode"></select><br>
                    <label>사용 가능 상태: </label>
                    <select name="facStatus" id="facStatus">
                        <option value=""></option>
                        <option value="사용중">사용 중</option>
                        <option value="만료">만료</option>
                    </select><br>
                    <label>사용 시작 기간: </label><input type="date" name="facStart"><br>
                    <label>사용 만료 기간: </label><input type="date" name="facEnd"><br>
                    <input type="submit" value="전송">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <input type="submit" class="btn btn-primary" data-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>



<script>
    fetch("/fac/user")
        .then(res=>res.json())
        .then(data=> {
            const $userCode=document.getElementById("userCode");

            for(let index in data) {
                const $option=document.createElement('option');
                $option.text=data[index].userCode;
                $userCode.appendChild($option);
            }
        })
</script>

<script>
    fetch("/fac/fac")
        .then(res=>res.json())
        .then(data=> {
            const $facCode=document.getElementById("facCode");

            for(let index in data) {
                const $option=document.createElement('option');
                $option.text=data[index].facCode;
                $option.value=data[index].facCode;
                $facCode.appendChild($option);
            }
        })
</script>
</body>
</html>