<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>개별 조회</h1>-->
<!--<table align="center" border="1">-->

<!--    <tr>-->
<!--        <th>사물함 번호</th>-->
<!--        <th>사물함 상태</th>-->
<!--        <th>시작 기간</th>-->
<!--        <th>회원 번호</th>-->
<!--        <th>만료 기간</th>-->
<!--    </tr>-->
<!--    &lt;!&ndash;/*@thymesVar id="perList" type="com.willingtogohome.gymga.fac.model.dto.FacDTO"*/&ndash;&gt;-->
<!--    <tr th:each="fac: ${perList}">-->
<!--        &lt;!&ndash;/*@thymesVar id="facCode" type="java.lang.Integer"*/&ndash;&gt;-->
<!--        <td th:text="${fac.facCode}"></td>-->
<!--        &lt;!&ndash;/*@thymesVar id="facStatus" type="java.lang.String"*/&ndash;&gt;-->
<!--        <td th:text="${fac.facStatus}"></td>-->
<!--        &lt;!&ndash;/*@thymesVar id="facStart" type="java.util.Date"*/&ndash;&gt;-->
<!--        <td th:text="${fac.facStart}"></td>-->
<!--        &lt;!&ndash;/*@thymesVar id="userCode" type="java.lang.Integer"*/&ndash;&gt;-->
<!--        <td th:text="${fac.userCode}"></td>-->
<!--        &lt;!&ndash;/*@thymesVar id="facEnd" type="java.util.Date"*/&ndash;&gt;-->
<!--        <td th:text="${fac.facEnd}"></td>-->
<!--    </tr>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->