<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--    <link rel="stylesheet" href="/fac/mainStyle2.css">-->
    <link rel="stylesheet" href="/styles/mainStyle.css">
    <link rel="stylesheet" href="/styles/headerStyle.css">
    <link rel="stylesheet" href="/styles/navbarStyle.css">
    <link rel="stylesheet" href="/styles/myStyle.css">
    <link rel="stylesheet" href="/styles/footerStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">
    <link rel="stylesheet" href="/fac/facSelect.css">
</head>
<body>
<div class="containers" style="position: relative;
    width: 1440px;
    min-height: 810px;
    margin: 0 auto;
    color: #fff;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;">
    <div class="app-area">
        <!--        Header Start-->
        <div class="header-container">
            <div onclick="location.href='/'" class="logo">
                <div class="gym" style=" margin-top:12px; color: #4B82D8;" >Gym</div>
                <p class="home" style="margin-top:12px; margin-left: 5px; width: 43.5px; height: 43.5px; border-radius: 50%; background-color: #4B82D8; text-align: center;">家</p>
            </div>
            <img id="pic" class="profiles" style="width: 37.5px;
    height: 37.5px;
    margin-left: 398px; border-radius: 100%" src="/uploadFiles/default-user.png"/>
            <div class="welcomes" style="margin-left: 18px;
    width: 208px;
    display: flex;
    align-items: center;
    font-weight: bold;">
                <a style="color: #656565; font-size: 18px;">환영합니다, </a>

                <p id="name" style="color: #000000;
    font-size: 19.5px;
    margin: 0 4px 0 4px;
    "></p>

                <a style="color: #656565; font-size: 18px;">님!</a>
            </div>
            <img class="icon1" src="/images/Alarm.png">
            <img class="icon2" src="/images/Gear.png">
            <form id="form-logout" method="post" action="/main/logout">
                <img class="icon2" src="/images/Logout.png" onclick="document.getElementById('form-logout').submit();" style="cursor: pointer">
            </form>
        </div>
        <!--        Header End-->
        <!--Main Start-->
        <div class="main-container">
            <!--Navbar Start-->
            <div th:include="common/navbar"></div>
            <!--Navbar End-->
            <!--개인 작업 시작-->
            <div class="my-style">
                <script>
                    const pic = document.getElementById("pic");
                    const name = document.getElementById("name");

                    fetch("/main/info")
                        .then(res => res.json())
                        .then(data => {
                            if (data != null) {
                                pic.src = '/imageFile/' + data.userPic;
                                name.innerHTML = data.userName;
                            }
                        })
                </script>


                <!-- 개인 조회 모달 -->
                <div class="modal fade" id="personalModal" tabindex="-1" role="dialog" aria-labelledby="personalModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="personalModalLabel">개인 조회</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <label>사물함 번호: </label>
                                <select name="facCode" id="facCode"></select><br>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                <button onclick="sendRequest()" class="btn btn-primary" data-dismiss="modal">확인</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="facList">
                    <div th:each="facs: ${facList}" class="fac-item" href="#" data-toggle="modal" data-target="#facActionModal">
                        <!-- Locker Code -->
                        <span class="facCodeLink" th:text="${facs.facCode}"></span>
                        <!-- Locker Status -->
                        <span class="facStatus" th:text="${facs.facStatus}"></span>
                        <!-- User Code -->
                        <span class="userCode" th:text="${facs.userCode}"></span>
                        <!-- Start Date -->
                        <span class="facStart" th:text="${facs.facStart}"></span>
                        <!-- End Date -->
                        <span class="facEnd" th:text="${facs.facEnd}"></span>
                    </div>
                </div>


                <!-- 사물함 등록, 수정, 삭제 모달 -->
                <div class="modal fade" id="facActionModal" tabindex="-1" role="dialog" aria-labelledby="facActionModalLabel" aria-hidden="true" >
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="facActionModalLabel">사물함 등록, 수정 및 삭제</h5>
                                <span aria-hidden="true">&times;</span>
                            </div>
                            <div class="modal-body">
                                <!-- 등록, 수정, 삭제 버튼 -->
                                <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#facActionModal2">등록</button>
                                <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#facActionModal3">수정</button>
                                <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#facActionModal4">삭제</button>


                                <!--                <a class="btn btn-secondary" href="/fac/update">수정</a>-->
                                <!--                <a class="btn btn-secondary" href="/fac/delete">삭제</a>-->
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-custom" data-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 경고 모달 -->
                <div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="width: 500px; height: 200px;">
                            <div class="modal-header">
                                <h5 class="modal-title" id="warningModalLabel">경고</h5>
                                <span aria-hidden="true">&times;</span>
                            </div>
                            <div class="modal-body" style="color: black;">
                                <h5 style=" text-align: center; width: 100%">모두 작성 하십시오</h5>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-custom" data-dismiss="modal" onclick="submitForm()">닫기</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 사물함 등록 -->
                <div class="modal fade" id="facActionModal2" tabindex="-1" role="dialog" aria-labelledby="facActionModalLabel2" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="facActionModalLabel2" >사물함 등록</h5>
                                <span aria-hidden="true">&times;</span>
                            </div>


                            <div class="modal-body">
                                <form id="registForm" onsubmit="submitForm()">
                                    <label>사물함 번호: </label>
                                    <input type="text" name="facCode" id="clickedFacCodeInput" style="border-radius: 5px" readonly><br>
                                    <!--                    <label>회원 코드: </label>-->
                                    <!--                    <input type="text" name="userCode" id="userCode"><br>-->
                                    <label>회원 코드: </label>
                                    <select type="text" name="userCode" id="userCode" style="border-radius: 5px;"></select><br>
                                    <label>사용 가능 상태: </label>
                                    <input name="facStatus" id="facStatus" style="border-radius: 5px;" value="사용중"><br>
                                    <label>사용 시작 기간: </label>
                                    <input type="date" name="facStart" id="facStart" style="border-radius: 5px; border: 1px solid black;
     stroke: #4B82D8;"><br>
                                    <label>사용 만료 기간: </label>
                                    <input type="date" name="facEnd" id="facEnd" style="border-radius: 5px; border: 1px solid black;
     stroke: #4B82D8;"><br>
                                </form>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-custom" data-dismiss="modal">닫기</button>
                                <button id="submitBtn" onclick="submitForm()" class="btn btn-primary" data-dismiss="modal">확인</button>
                            </div>
                        </div>
                    </div>
                </div>




                <!-- 사물함 수정 -->
                <div class="modal fade" id="facActionModal3" tabindex="-1" role="dialog"
                     aria-labelledby="facActionModalLabel3" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="facActionModalLabel3">사물함 수정</h5>
                                <span aria-hidden="true">&times;</span>
                            </div>
                            <div class="modal-body">
                                <form id="updateForm" onsubmit="submitForm2()">
                                    <label>사물함 번호: </label>
                                    <input type="text" name="facCode" id="clickedFacCodeInput2" style="border-radius: 5px"><br>
                                    <label>회원 코드: </label>
                                    <input type="text" name="userCode" id="clickedUserCodeInput2" style="border-radius: 5px" ><br>
                                    <!--                    <label>회원 코드: </label>-->
                                    <!--                    <select name="userCode" id="userCode3"></select><br>-->
                                    <label>사용 가능 상태: </label>
                                    <select name="facStatus" id="facStatus3" style="border-radius: 5px;">
                                        <option value=""></option>
                                        <option value="사용중">사용 중</option>
                                        <option value="만료">만료</option>
                                    </select><br>
                                    <label>사용 시작 기간: </label><input type="date" name="facStart" id="facStart1" style="border-radius: 5px; border: 1px solid black;
     stroke: #4B82D8;"><br>
                                    <label>사용 만료 기간: </label><input type="date" name="facEnd" id="facEnd1" style="border-radius: 5px; border: 1px solid black;
     stroke: #4B82D8;"><br>
                                </form>
                            </div>

                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-custom" data-dismiss="modal">닫기</button>
                                <button onclick="submitForm2()" class="btn btn-primary" data-dismiss="modal">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    function submitForm2() {

// 폼 데이터 가져오기
                        const formData = new FormData(document.getElementById("updateForm"));

// POST 요청 보내기
                        fetch("/fac/update", {
                            method: "POST",
                            body: formData
                        })
                            .then(response => {
                                if (response.ok) {
// 성공적으로 처리된 경우 모달 닫기
                                    $('#facActionModal').modal('hide');
                                    window.location.href = "/fac/select";

                                } else {
// 실패한 경우 오류 메시지 표시
                                    console.error('등록 실패');
                                }
                            })
                            .catch(error => console.error('에러 발생:', error));
                    }

                </script>



                <!-- 경고 모달 -->
                <div class="modal fade" id="deleteWarningModal" tabindex="-1" role="dialog" aria-labelledby="deleteWarningModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="width: 500px; height: 200px;">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteWarningModalLabel">경고</h5>
                                <span aria-hidden="true">&times;</span>
                            </div>
                            <div class="modal-body" style="color: black">
                                <h5 style=" text-align: center; width: 100%">정말 삭제 하시겠습니까?</h5>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-custom" data-dismiss="modal" onclick="submitForm3()">닫기</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="confirmDelete()">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 사물함 삭제 -->
                <div class="modal fade" id="facActionModal4" tabindex="-1" role="dialog" aria-labelledby="facActionModalLabel4" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="facActionModalLabel4">사물함 삭제</h5>
                                <span aria-hidden="true">&times;</span>
                            </div>
                            <div class="modal-body">
                                <form id="deleteForm" onsubmit="submitForm3()">
                                    <label>사물함 번호: </label>
                                    <input type="text" name="facCode" id="clickedFacCodeInput3" style="border-radius: 5px"><br>
                                    <!--                                    <label>회원 코드: </label>-->
                                    <!--                                    <input type="text" name="userCode" style="padding-left: 5px; border-radius: 10px" value="0" ><br>-->
                                    <label>사용 가능 상태: </label>
                                    <input type="text" name="facStatus" id="facStatus4" style="border-radius: 5px;" readonly>
                                    <br>
                                </form>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-custom" data-dismiss="modal">닫기</button>
                                <button onclick="submitForm3()" class="btn btn-primary" data-dismiss="modal">확인</button>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    function submitForm3() {

// 폼 데이터 가져오기
                        const formData = new FormData(document.getElementById("deleteForm"));
                        const facStatus = formData.get("facStatus").trim();


                        if(facStatus === "") {
                            // 모든 필드가 작성되지 않은 경우 경고 모달 표시
                            $('#deleteWarningModal').modal('show');
                            $('#facActionModal4').modal('show'); // 삭제 모달을 닫음
                            return;
                        }



                        // 삭제 확인 모달을 표시
                        $('#deleteWarningModal').modal('show');
                    }

                    function confirmDelete() {
                        // 폼 데이터 가져오기
                        const formData = new FormData(document.getElementById("deleteForm"));

                        // POST 요청 보내기
                        fetch("/fac/delete", {
                            method: "POST",
                            body: formData
                        })
                            .then(response => {
                                if (response.ok) {
                                    // 성공적으로 처리된 경우 모달 닫기
                                    $('#facActionModal4').modal('hide');
                                    window.location.href = "/fac/select";
                                } else {
                                    // 실패한 경우 오류 메시지 표시
                                    console.error('삭제 실패');
                                }
                            })
                            .catch(error => console.error('에러 발생:', error));
                    }
                </script>


                <script th:inline="javascript">
                    function setFacStatusColor() {
                        document.querySelectorAll(".facStatus").forEach(function (element) {
                            var selectedValue = element.textContent.trim();
                            var color = "";
                            if (selectedValue === "사용중") {
                                color = "#4041C5";
                            } else if (selectedValue === "만료") {
                                color = "#F82626";
                                element.style.right = "-80px";
                            } else if (selectedValue === "") {
                                selectedValue = "사용가능"; // Change text to "사용가능" if it's empty
                                color = "rgba(64, 65, 197, 0.5)";
                                element.style.right = "-50px"; // Set color to "#4041C5" with 50% opacity
                            } else {
                                // If selectedValue is anything else, set the color to match "사용가능"
                                color = "rgba(64, 65, 197, 0.5)";
                            }

                            element.textContent = selectedValue; // Update the text content
                            element.style.color = color; // Apply the color
                        });
                    }

                    // 페이지 로드 시 호출하여 초기 색상 설정
                    setFacStatusColor();

                    // 클릭한 번호를 input 상자에 보여주는 함수
                    $('.fac-item').click(function() {
                        // 클릭한 사물함 번호 가져오기
                        var facCode = $(this).find('.facCodeLink').text(); // 사물함 번호를 가져옴
                        var userCode = $(this).find('.userCode').text(); // 사물함 번호를 가져옴


                        var secondBracketIndex = userCode.indexOf('(', userCode.indexOf('(') + 1);
                        var secondBracketContent = userCode.substring(secondBracketIndex + 1, userCode.indexOf(')', secondBracketIndex));




                        // data-faccode 속성에 번호 설정
                        $('#facActionModal').attr('data-facCode', facCode);
                        // input 상자에 번호 표시
                        $('#clickedFacCodeInput').val(facCode); // 사물함 등록 번호 id
                        $('#clickedFacCodeInput2').val(facCode); // 사물함 수정 번호 id
                        $('#clickedFacCodeInput3').val(facCode); // 사물함 삭제 번호 id
                        $('#clickedUserCodeInput2').val(userCode); // 사물함 삭제 번호 id


                        // $('#clickedUserCodeInput').val(userCodeCodePart); // 클릭한 사용자 코드의 코드 부분을 할당



                        // 변경된 데이터에 따라 스타일 다시 설정
                        setFacStatusColor();
                    });
                </script>




                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        // Set the facStatus color
                        setFacStatusColor();

                        // Event listener for locker item clicks
                        document.querySelectorAll('.fac-item').forEach(function(item) {
                            item.addEventListener('click', function() {
                                // Get the locker data from the clicked item
                                var facStart = this.querySelector('.facStart').textContent.trim().replace(' ~', ''); // Remove the '~'
                                var facEnd = this.querySelector('.facEnd').textContent.trim();
                                var facStatus = this.querySelector('.facStatus').textContent.trim();

                                // Set the values in the modal input fields
                                document.getElementById('facStart1').value = facStart;
                                document.getElementById('facEnd1').value = facEnd;
                                document.getElementById('facStatus3').value = facStatus;
                            });
                        });
                    });
                </script>


                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        // 사용자 정보 배열
                        var users = [
                            '남효정(0000)', '북효정(1111)', '서효정(2222)', '동효정(3333)',
                            '김민지(1111)', '이지은(1111)', '박지우(4444)', '김다솜(5555)',
                            '정재훈(9999)', '송지원(3333)', '이동민(2222)', '박수진(0000)',
                            '조민준(4444)', '윤서영(0000)', '장현우(3434)', '최지훈(2222)',
                            '박주원(4444)', '김서린(6666)', '이준서(8888)', '정하은(0000)',
                            '강시우(7777)', '조예은(3333)', '홍길동(5678)'
                        ];

                        // 모든 요소에 대해 반복하여 userCode를 확인하고 화면에 사용자 이름을 표시
                        document.querySelectorAll(".userCode").forEach(function(element) {
                            var userCode = element.textContent.trim(); // 요소의 텍스트 내용을 가져옴

                            // userCode가 3인 경우 "김진용"으로 변경
                            if (userCode === "1") {
                                element.textContent = "남효정(0000)";
                            } else {
                                // userCode와 일치하는 사용자 이름을 가져와서 표시
                                var userName = users[parseInt(userCode) - 1]; // 정수로 변환 후 인덱스에 맞는 이름 가져오기
                                if (userName) {
                                    element.textContent = userName;
                                }
                            }
                        });
                        });

                </script>


                <script>
                    function sendRequest() {
                        // 선택된 회원 코드 가져오기
                        const selectedFacCode = document.getElementById("facCode").value;
                        // userCode 파라미터를 포함하여 URL로 이동
                        window.location.href = "/fac/select/personal?facCode=" + selectedFacCode;
                    }
                </script>

                <script>
                    function submitForm() {

                        // 폼 데이터 가져오기
                        const formData = new FormData(document.getElementById("registForm"))
                        const facCode = formData.get("facCode").trim();
                        const userCode = formData.get("userCode").trim();
                        const facStatus = formData.get("facStatus").trim();
                        const facStart = formData.get("facStart").trim();
                        const facEnd = formData.get("facEnd").trim();

                        if (facCode === "" || userCode === "" || facStatus === "" || facStart === "" || facEnd === "") {
                            // 모든 필드가 작성되지 않은 경우 경고 모달 표시
                            $('#warningModal').modal('show');
                            $('#facActionModal2').modal('show');
                            return;
                        }


                        // POST 요청 보내기
                        fetch("/fac/regist", {
                            method: "POST",
                            body: formData
                        })
                            .then(response => {
                                if (response.ok) {
                                    // 성공적으로 처리된 경우 모달 닫기
                                    $('#facActionModal').modal('hide');
                                    window.location.href = "/fac/select";


                                } else {
                                    // 실패한 경우 오류 메시지 표시
                                    console.error('등록 실패');
                                }
                            })
                            .catch(error => console.error('에러 발생:', error));
                    }

                </script>












                <!--                <script>-->
                <!--                    fetch("/fac/user")-->
                <!--                        .then(res=>res.json())-->
                <!--                        .then(data=> {-->
                <!--                            const $userCode=document.getElementById("userCode3");-->

                <!--                            for(let index in data) {-->
                <!--                                const $option=document.createElement('option');-->
                <!--                                $option.text=data[index].userCode;-->
                <!--                                $userCode.appendChild($option);-->
                <!--                            }-->
                <!--                        })-->
                <!--                </script>-->
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var users = [
                            '남효정(0000)', '북효정(1111)', '서효정(2222)', '동효정(3333)',
                            '김민지(1111)', '이지은(1111)', '박지우(4444)', '김다솜(5555)',
                            '정재훈(9999)', '송지원(3333)', '이동민(2222)', '박수진(0000)',
                            '조민준(4444)', '윤서영(0000)', '장현우(3434)', '최지훈(2222)',
                            '박주원(4444)', '김서린(6666)', '이준서(8888)', '정하은(0000)',
                            '강시우(7777)', '조예은(3333)', '홍길동(5678)'
                        ];

                        var selectElement = document.getElementById("userCode");

                        // Dynamically add options to the select element
                        users.forEach(function(user, index) {
                            var option = document.createElement("option");
                            option.value = index + 1; // userCode는 배열 인덱스 + 1로 설정
                            option.textContent = user;
                            selectElement.appendChild(option);
                        });
                    });
                </script>


                <script>
                    // 사물함 데이터 가져오기
                    fetch("/fac/fac")
                        .then(res => res.json())
                        .then(data => {
                            const facCodeSelect = document.getElementById("facCode");//사물함 개인 조회 id


                            data.forEach(item => {
                                // 새로운 옵션 요소 생성
                                const option1 = document.createElement('option');


                                // 옵션 설정
                                option1.text = item.facCode;
                                option1.value = item.facCode;


                                // 각각의 select 요소에 옵션 추가
                                facCodeSelect.appendChild(option1);

                            });
                        });




                // 사용자 데이터 가져오기
                // fetch("/fac/user")
                // .then(res => res.json())
                // .then(data => {
                // const userCodeSelect = document.getElementById("userCode");//회원 등록 코드
                //
                //
                // data.forEach(item => {
                // // 새로운 옵션 요소 생성
                // const option1 = document.createElement('option');
                //
                //
                // // 옵션 설정
                // option1.text = item.userCode;
                // option1.value = item.userCode;
                //
                //
                // // 각각의 select 요소에 옵션 추가
                // userCodeSelect.appendChild(option1);
                //
                //
                // });
                // });
                </script>


                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        // Set the facStatus color
                        setFacStatusColor();

                        // Event listener for locker item clicks
                        document.querySelectorAll('.fac-item').forEach(function(item) {
                            item.addEventListener('click', function() {
                                // Get the locker data from the clicked item
                                var facStart = this.querySelector('.facStart').textContent.trim().replace(' ~', ''); // Remove the '~'
                                var facEnd = this.querySelector('.facEnd').textContent.trim();
                                var facStatus = this.querySelector('.facStatus').textContent.trim();

                                // Set the values in the modal input fields
                                document.getElementById('facStart1').value = facStart;
                                document.getElementById('facEnd1').value = facEnd;

                                // Set the facStatus select to show only the first 3 options
                                var facStatusSelect = document.getElementById('facStatus3');
                                facStatusSelect.innerHTML = ''; // Clear existing options
                                var optionsToShow = ['사용중', '만료']; // Options to show
                                optionsToShow.forEach(function(optionText) {
                                    var option = document.createElement('option');
                                    option.value = optionText;
                                    option.textContent = optionText;
                                    facStatusSelect.appendChild(option);
                                });
                                // Set the selected option to the current facStatus value
                                facStatusSelect.value = facStatus;
                            });
                        });
                    });
                </script>




                <script th:inline="javascript">
                    // Wait for the DOM content to be loaded
                    document.addEventListener("DOMContentLoaded", function() {
                        // Get all elements with the class 'facStart'
                        var facStartElements = document.querySelectorAll('.facStart');

                        // Loop through each element
                        facStartElements.forEach(function(element) {
                            // Check if the textContent of the element is not null or empty
                            if (element.textContent.trim() !== '') {
                                // If not empty, add the '~' symbol after the text
                                element.textContent += ' ~';
                            }
                        });
                    });
                </script>


            </div>
            <!--개인 작업 종료-->
        </div>
        <!--Main End-->

        <!--Footer Start-->
        <div class="footer-container">
            <div class="big-font">About</div>
            <div class="big-font">Email</div>
            <div class="big-font">Tel.</div>
            <div class="small-fonts" style="font-size: 12px;font-weight: lighter; margin: 0 208px 0 208px; display: flex; padding-top: 15px" >
                <p>Website Terms</p>
                <div class="cuts" style="margin:0 28px 0 20px;">|</div>
                <p>Privacy Policy</p>
                <div class="cuts" style="margin:0 28px 0 20px;">|</div>
                <p>Accessbility Statement</p>
            </div>
            <div class="c">©</div>
            <div class="copy">copyright. all rights reserved</div>
        </div>
        <!--Footer End-->
    </div>
</div>
</body>
</html>