<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/mainStyle.css">
    <link rel="stylesheet" href="../styles/headerStyle.css">
    <link rel="stylesheet" href="../styles/navbarStyle.css">
    <link rel="stylesheet" href="../styles/myStyle.css">
    <link rel="stylesheet" href="../styles/footerStyle.css">
    <link rel="stylesheet" href="../styles/salesSearchStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">
    <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div id="app_area">
    <div id="window">
        <!--header-->
        <div th:include="common/header"></div>
        <!--navbar-->
        <div class="main-container">
            <div th:include="common/navbar"></div>
            <!--내용 작성하는 div-->
            <div class="my-style">
                <div>
                    <div class="backGround">
                        <div class="onDetail">
                            <form action="/sale/detail" method="post" class="top">
                                <input type="text" class="search" name="search" placeholder="검색 내용">
                                <select name="category" class="option">
                                    <option value="">전체 조회</option>
                                    <option value="name">이름</option>
                                </select>
                                <button type="submit" class="searchButton">검색</button>
                            </form>
                        </div>
                        <hr class="hr1">
                        <div class="zxc">
                            <div class="userList" th:each="user:${userList}">
                                <p class="img"><img th:src="${user.userDTO.userId}" style="max-width: 30px; max-height: 30px;"/></p>
                                <p class="userName" th:text="${user.passQualDTO.pqCode}"></p>
                                <p class="price" th:text="${user.passQualDTO.pqPrice}"></p>
                                <p class="userPhone" th:text="${#dates.format(user.passStart, 'yyyy-MM-dd')
                                 + ' ~'
                                 + #dates.format(user.passEnd, 'yyyy-MM-dd')}"></p>
                                <p  class="price2" th:text="${user.passQualDTO.pqName}"></p>
                                <p class="userStaff" th:text="${user.saleDTO.salesMethod}"></p>
                                <p class="time2" th:text="${#dates.format(sale.passStart, 'YY.MM.dd')}
                                 +${#dates.format(sale.saleDTO.salesDate, ' / a / HH:mm')}"></p>
                            </div>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </div>
        <!--내용 작성하는 div-->
        <!--footer-->
        <div th:include="common/footer"></div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var selectElement = document.querySelector('.option');
        selectElement.addEventListener('change', function() {
            // 현재 선택된 옵션의 값 가져오기
            var selectedOption = selectElement.value;
            // 검색 input 요소 가져오기
            var searchInput = document.querySelector('.search');

            // 선택된 옵션에 따라 placeholder 설정
            switch (selectedOption) {

                case 'name':
                    searchInput.placeholder = '이름 검색 ex) 홍길동';
                    break;

                default:
                    searchInput.placeholder = '이름 검색 ex) 홍길동';
            }
        });
        var userList = document.querySelectorAll('.userList');
        if (userList.length === 0 || userList === '') {
            displayNoResultsMessage();
        }
    });
    function displayNoResultsMessage() {

        var messageDiv = document.createElement('div');
        messageDiv.textContent = '검색 결과가 없습니다.';
        messageDiv.style.color = 'red';
        messageDiv.style.textAlign ='center';
        messageDiv.style.marginTop='10px'

        var contentContainer = document.querySelector('.zxc');
        contentContainer.appendChild(messageDiv);
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var selectElement = document.querySelector('.option');
        var searchInput = document.querySelector('.search');

        // 옵션을 선택했을 때 입력 상자에 초점을 맞춤
        selectElement.addEventListener('change', function() {
            searchInput.focus();
        });
    });
</script>


<script>
    $(document).ready(function() {
        var userListSize = $(".userList").length;
        for (var i = 0; i < userListSize - 1; i++) {
            var userList = $(".userList:eq(" + i + ")");
            userList.after("<div>");
            var hrDiv = userList.next();
            hrDiv.append("<div><hr class='hr3'></div>");
        }

        $(".deleteButton").click(function() {
            $(this).siblings(".modalContainer").show();
        });

        $(".cancelButton").click(function() {
            $(this).closest(".modalContainer").hide();
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var prices = document.querySelectorAll('.price');
        prices.forEach(function(price) {
            var value = price.textContent.trim();
            var formattedValue = Number(value).toLocaleString('en');
            price.textContent = formattedValue + '원';
        });
    });
</script>


</body>
</html>