<!--
	THIS EXAMPLE WAS DOWNLOADED FROM https://echarts.apache.org/examples/en/editor.html?c=pie-borderRadius&lang=js
-->
<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="utf-8">
    <title>saleMain</title>
</head>
<body style="height: 100%; margin: 0">
<div id="pie" style="height: 270px; width: 490px;"></div>
<div id="bar" style="height: 300px; width: 490px;"></div>


<script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>

<!-- Uncomment this line if you want to dataTool extension
<script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.5.0/dist/extension/dataTool.min.js"></script>
-->
<!-- Uncomment this line if you want to use gl extension
<script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
-->
<!-- Uncomment this line if you want to echarts-stat extension
<script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts-stat@latest/dist/ecStat.min.js"></script>
-->
<!-- Uncomment this line if you want to use map
<script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@4.9.0/map/js/china.js"></script>
<script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@4.9.0/map/js/world.js"></script>
-->
<!-- Uncomment these two lines if you want to use bmap extension
<script type="text/javascript" src="https://api.map.baidu.com/api?v=3.0&ak=YOUR_API_KEY"></script>
<script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.5.0/dist/extension/bmap.min.js"></script>
-->
    <div>

        <script type="text/javascript">
            var dom = document.getElementById('pie');
            var myChart = echarts.init(dom, null, {
                renderer: 'canvas',
                useDirtyRect: false
            });
            var app = {};

            var option;
            var PT=25;
            var GX=65;
            var GP=42;
            var SUM = (PT+GX+GP);
            var result = PT/SUM*100;
            var result2 = GX/SUM*100;
            var result3 = GP/SUM*100;


            option = {
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    top: '92%',
                    left: 'center',
                },
                series: [
                    {
                        name: '이용권',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        avoidLabelOverlap: false,
                        seriesLayoutBy: 'row',

                        itemStyle: {
                            borderRadius: 10,
                            borderColor: '#fff',
                            borderWidth: 2
                        },
                        label: {
                            show: true,
                            position: 'middle',
                            formatter: '{d}%',
                            // position: 'center'
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: 16,
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: true,
                        },
                        data: [
                            // { value: 일반, name: '일반' },
                            // { value: PT, name: 'PT' },
                            // { value: GX, name: 'GX' },
                            { value: result.toFixed(2), name: 'PT' },
                            { value: result2.toFixed(2), name: 'GX' },
                            { value: result3.toFixed(2), name: '일반' },
                            // { value: 484, name: '비회원' },
                            // { value: 300, name: '' }
                        ]
                    }
                ]
            };

            if (option && typeof option === 'object') {
                myChart.setOption(option);
            }

            window.addEventListener('resize', myChart.resize);
        </script>
    </div>



    <div>
        <script type="text/javascript">
            var dom = document.getElementById('bar');
            var myChart = echarts.init(dom, null, {
                renderer: 'canvas',
                useDirtyRect: false
            });
            var app = {};

            var option;

            option = {
                tooltip: {
                    trigger: 'item'
                },
                dataset: [
                    {
                        dimensions: ['name', 'age', 'profession', 'score', 'date'],
                        source: [
                            ['01월 ', 41, 'Engineer', 3140000, '2011-02-12'],
                            ['02월', 20, 'Teacher', 5050000, '2011-03-01'],
                            ['03월', 52, 'Musician', 5000000, '2011-02-14'],
                            ['04월', 37, 'Teacher', 5000000, '2011-02-18'],
                            ['05월', 25, 'Engineer', 2550003, '2011-04-02'],
                            ['06월', 19, 'Teacher', 8000000, '2011-01-16'],
                            ['07월', 71, 'Engineer', 1000006, '2011-03-19'],
                            ['08월', 36, 'Musician', 3100000, '2011-02-24'],
                            ['09월', 67, 'Engineer', 3600006, '2011-03-12'],
                            ['10월', 67, 'Engineer', 3600006, '2011-03-12'],
                            ['11월', 67, 'Engineer', 3600006, '2011-03-12'],
                            ['12월', 67, 'Engineer', 3600006, '2011-03-12'],
                        ]
                    },
                    {
                        transform: {
                            type: 'sort',
                            config: { dimension: 'name', order: 'asc' }
                        }
                    }
                ],
                xAxis: {
                    type: 'category',
                    axisLabel: { interval: 0, rotate: 30 }
                },
                yAxis: {},
                series: [
                    {
                    name: '매출',
                    type: 'bar',
                    encode: { x: 'name', y: 'score' },
                    datasetIndex: 1
                    },
                ],
                // label: {
                //     show: false,
                //     position: 'center',
                //     formatter: '{b}원',
                //     // position: 'center'
                // },
                // emphasis: {
                //     label: {
                //         show: true,
                //         position:'center',
                //         fontSize: 16,
                //         // fontWeight: 'bold'
                //     }
                // },
                // labelLine: {
                //     show: true,
                // },
            };

            if (option && typeof option === 'object') {
                myChart.setOption(option);
            }

            window.addEventListener('resize', myChart.resize);
        </script>
    </div>


</body>
</html>