<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="/styles/mainStyle.css">
    <link rel="stylesheet" href="/styles/headerStyle.css">
    <link rel="stylesheet" href="/styles/navbarStyle.css">
    <link rel="stylesheet" href="/styles/myStyle.css">
    <link rel="stylesheet" href="/styles/schedule/detailStyle.css">
    <link rel="stylesheet" href="/styles/schedule/modalStyle.css">
    <link rel="stylesheet" href="/styles/footerStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">
</head>

<body>
<div class="container">
    <div class="app-area">
        <!--Heade Start-->
        <div th:include="common/header"></div>
        <!--Header End-->

        <!--Main Start-->
        <div class="main-container">
            <!--Navbar Start-->
            <div th:include="common/navbar"></div>
            <!--Navbar End-->
            <!--개인 작업 시작-->
            <div class="my-style">
                <div class="detail-container">
                    <div class="white-board">
                        <div class="white-board-header">
                            <img onclick="location.href='/schedule/schedulemain'" src="/images/back.png">
                            <div class="time-user">
                                <!--                                09시 00분 히비키 회원님-->
                                <p th:text="${findGxList.scheStartTime + ' G.X ' + findGxList.classCategory.className}"></p>
                            </div>
                            <button class="change" onclick="location.href='/schedule/schedulemain'">변경</button>
                            <button class="cancel" id="cancelBtn">취소</button>
                        </div>
                        <div class="class-info-top">
                            <p>수업정보</p>
                            <span class="regist-info">생성일 : </span>&nbsp;
                            <p class="regist-info-th"
                               th:text="${#temporals.format(findGxList.scheRegDate, 'yyyy-MM-dd HH:mm:ss')}"></p>&nbsp;
                            <p class="regist-info-th" th:text="${findGxList.empCategory.empName}"></p>
                        </div>
                        <button id="updateScheduleBtn" class="table-container">
                            <table>
                                <tr>
                                    <th>일정 유형</th>
                                    <th>일정</th>
                                    <th>시간</th>
                                    <th>정원</th>
                                    <th>강사</th>
                                </tr>
                                <tr>
                                    <td th:text="${findGxList.classCategory.className}"></td>
                                    <td th:text="${findGxList.scheRunDate}"></td>
                                    <td>
                                        <span th:text="${findGxList.scheStartTime}"></span> ~ <span
                                            th:text="${findGxList.scheEndTime}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${findGxList.scheParticipate + ' 명'}"></span>
                                    </td>
                                    <td th:text="${findGxList.empCategory.empName}"></td>
                                </tr>
                            </table>
                        </button>
                        <div class="join-member-text">
                            <p>참여 회원</p>
                        </div>
                        <div class="join-member-container">
                            <div class="join-gxmember-container">
                                <div th:class="'join-gxmember-info' + ${iterStat.index}" th:each="member, iterStat : ${findGxByRegDate}"
                                     th:id="'selectMember' + ${iterStat.index}" th:onclick="'logClick(' + ${iterStat.index} + ')'"
                                     th:data-index="${iterStat.index}">
                                    <div class="gxmember-change-name">
                                        <p th:text="${member.userCategory != null ? member.userCategory.memberName : ''}"></p>
                                    </div>
                                    <div class="gxmember-change-info">
                                        <div class="phone-passname-use">
                                            <p>전화번호</p>
                                            <p>이용권명</p>
                                            <p>잔여횟수</p>
                                        </div>
                                        <div class="th-phone-passname-use">
                                            <p th:text="${member.userCategory != null ? member.userCategory.memberPhone : ''}"></p>
                                            <p th:text="${member.passqualCategory != null ? member.passqualCategory.pqName : ''}"></p>
                                            <span th:text="${member.passTotalCategory != null ? member.passTotalCategory.passTotal + '회' : ''}"></span>
                                        </div>
                                        <div class="atten-total">
                                            <p>출결상태</p>
                                            <p>사용횟수</p>
                                        </div>
                                        <div class="th-atten-total">
                                            <p th:text="${member.scheAtten}"></p>
                                            <span th:text="${member.passUseCategory != null ? member.passUseCategory.passUse + '회' : ''}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="atten-container">
                                <div class="atten-button-container">
                                    <button class="absent" id="absentBtn">결석</button>
                                    <button class="atten" id="attenBtn" onclick="updateAttendance()">출석</button>
                                </div>
                                <div class="member-detail-container">
                                    <button>회원상세</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MODAL SECTION START -->
            <!--출석 모달-->
            <div id="attenModal" class="modal">
                <div class="modal-content">
                    <div class="modal-content-text">
                        <p class="text-1">출석 확인</p>
                        <p class="text-2">출석 처리 하시겠습니까?</p>
                    </div>
                    <div class="modal-content-button">
                        <button class="close">취소</button>
                        <button class="confirm"
                                th:onclick="|location.href='/schedule/gxattenupdate/' + ${findGxList.scheCode}">확인
                        </button>
                    </div>
                </div>
            </div>
            <!--결석 모달-->
<!--            <div id="absentModal" class="modal">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-content-text">-->
<!--                        <p class="text-1">결석 확인</p>-->
<!--                        <p class="text-2">결석 처리 하시겠습니까?</p>-->
<!--                    </div>-->
<!--                    <div class="modal-content-button">-->
<!--                        <button class="close">취소</button>-->
<!--                        <button class="confirm"-->
<!--                                th:onclick="|location.href='/schedule/absentupdate/' + ${findGxList.scheCode}|">확인-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <!--취소 모달-->
<!--            <div id="cancelModal" class="modal">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-content-text">-->
<!--                        <p class="text-1">취소 확인</p>-->
<!--                        <p class="text-2">취소 처리 하시겠습니까?</p>-->
<!--                    </div>-->
<!--                    <div class="modal-content-button">-->
<!--                        <button class="close">취소</button>-->
<!--                        <button class="confirm"-->
<!--                                th:onclick="|location.href='/schedule/cancelupdate/' + ${findGxList.scheCode}|">확인-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <!--일정변경 모달-->
            <div id="updateScheduleModal" class="modal">
                <div class="updatePt-modal-content">
                    <div class="updatePt-modal-header">
                        <button class="close" id="changeBack">
                            <img src="/images/back.png">
                        </button>
                        <p>일정 변경</p>
                    </div>
                    <p class="pt-or-gx">그룹 수업</p>
                    <form th:action="@{|/schedule/scheduleupdate/${findGxList.scheCode}/${findGxList.scheRegDate}|}"
                          method="post">
                        <input type="hidden" name="scheCode" th:value="${findGxList.scheCode}">
                        <label>담당 강사 선택</label><br>
                        <select name="empCode" id="empSelectCode"></select><br>
                        <label>일자 선택</label><br>
                        <input type="date" name="scheRunDate" th:value="${findGxList.scheRunDate}"><br>
                        <label>시간 선택</label><br>
                        <div class="time-choice">
                            <input type="time" name="scheStartTime" th:value="${findGxList.scheStartTime}">
                            <p>~</p>
                            <input class="endtime" type="time" name="scheEndTime"
                                   th:value="${findGxList.scheEndTime}"><br>
                        </div>
                        <button class="check" type="submit">확인</button>
                    </form>
                    <!-- 강사선택 스크립트 -->
                    <script>
                        fetch("/schedule/teacher")
                            .then(res => res.json())
                            .then(data => {
                                const $empCode = document.getElementById("empSelectCode");

                                for (let index in data) {
                                    const $option = document.createElement('option');
                                    $option.value = data[index].empCode;
                                    $option.text = data[index].empName;

                                    $empCode.appendChild($option);
                                    document.getElementById("empSelectCode").value = data[index].empCode;
                                }
                            })
                    </script>
                    <button class="close">취소</button>
                </div>
            </div>
            <!-- MODAL SECTION END -->

            <!--개인 작업 종료-->
        </div>
        <!--Main End-->

        <!--Footer Start-->
        <div th:include="common/footer"></div>
        <!--Footer End-->
    </div>
</div>
<script th:inline="javascript">

    let updateScheduleModal = document.getElementById("updateScheduleModal");
    let updateScheduleBtn = document.getElementById("updateScheduleBtn");
    let closeBtns = document.getElementsByClassName("close");
    let attenModal = document.getElementById("attenModal");
    let attenBtn = document.getElementById("attenBtn");

    updateScheduleBtn.onclick = () => {
        updateScheduleModal.style.display = "block";
    }

    attenBtn.onclick = () => {
        attenModal.style.display = "block";
    }
    // 멤버 선택 관련 스크립트

    function logClick(memberIndex) {
        console.log("Member " + memberIndex + " clicked.");
        let memberList = [[${findGxByRegDate}]];
        console.log("memberList", memberList);
        let memberData = memberList[memberIndex];
        let scheCode = memberData.scheCode;
        let scheRegDate = memberData.scheRegDate;
        let memberCode = memberData.userCategory.memberCode;
        console.log(memberData);
        console.log("일정코드 : ", scheCode);
        console.log("등록일자 : ", scheRegDate);
        console.log("멤버코드 : ", memberCode);

        let previousSelectedDiv = document.querySelector('.selected');
        if (previousSelectedDiv) {
            previousSelectedDiv.style.backgroundColor = "#ffffff";
            previousSelectedDiv.classList.remove('selected');
        }

        let selectedDiv = document.getElementById('selectMember' + memberIndex);
        if (selectedDiv) {
            // 클릭한 div에 'selected' 클래스 추가하고 배경색 변경
            selectedDiv.style.backgroundColor = "pink";
            selectedDiv.classList.add('selected');
        } else {
            console.error("선택한 div를 찾을 수 없습니다.");
        }

    }




    // 모달창 닫기 활성화
    for (let i = 0; i < closeBtns.length; i++) {
        closeBtns[i].onclick = function() {
            updateScheduleModal.style.display = "none";
        }
    }

    // updateScheduleBtn.onclick = function() {
    //     fetch(`/schedule/scheatten/${scheCode}/${scheRunDate}`)
    //         .then(res => res.json())
    //         .then(data => {
    //             const scheAttenValue = data.scheAtten;
    //
    //             // scheatten 상태가 출석이면 경고창을 표시
    //             if (scheAttenValue !== "예약대기") {
    //                 alert("일정변경이 불가능합니다.");
    //             } else {
    //                 updateScheduleModal.style.display = "block";
    //             }
    //         })
    //         .catch(error => {
    //             console.error('Error:', error);
    //         });
    // }

</script>



</body>
</html>