<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="/styles/mainStyle.css">
    <link rel="stylesheet" href="/styles/headerStyle.css">
    <link rel="stylesheet" href="/styles/navbarStyle.css">
    <link rel="stylesheet" href="/styles/myStyle.css">
    <link rel="stylesheet" href="/styles/schedule/calendarStyle.css">
    <link rel="stylesheet" href="/styles/schedule/modalStyle.css">
    <link rel="stylesheet" href="/styles/footerStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>
</head>
<body>
<div class="container">
    <div class="app-area">
        <!--Heade Start-->
        <div th:include="common/header"></div>
        <!--Header End-->

        <!--Main Start-->
        <div class="main-container">
            <!--Navbar Start-->
            <div th:include="common/navbar"></div>
            <!--Navbar End-->
            <!--개인 작업 시작-->
            <div class="my-style" style="display: flex">
                <!--기본달력-->
<!--                <div class="left">-->
<!--                    <table class="calendar" id="calendar">-->
<!--                    <div class="month">-->
<!--                    </div>-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th>Sun</th>-->
<!--                        <th>Mon</th>-->
<!--                        <th>Tue</th>-->
<!--                        <th>Wed</th>-->
<!--                        <th>Thu</th>-->
<!--                        <th>Fri</th>-->
<!--                        <th>Sat</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody id="calendar-body">-->
<!--                    </tbody>-->

<!--                </table>-->
                <!--기본달력-->
                <!-- New 달력 -->
                <div class="calendar">
                    <div class="month">
                        <div class="month-box">
                            <i class="fa fa-angle-left prev"></i>
                            <div class="date"></div>
                            <i class="fa fa-angle-right next"></i>
                        </div>
                        <button type="button" class="makeschedule" id="makeschedule">+ 일정 추가</button>
                        <!-- MODAL SECTION START -->
                        <!--일정생성 모달-->
                        <div id="registScheModal" class="modal">
                            <div class="regist-modal-content">
                                <div class="regist-modal-content-text">
                                    <p class="text-1">일정 생성</p>
                                    <p class="text-2">일정을 생성해 주세요</p>
                                </div>
                                <div class="regist-modal-content-button">
                                    <button class="pt" id="registPtBtn">
                                        <p class="regist-big-font">개인 수업</p>
                                        <p class="regist-small-font">일정을 생성해 주세요.</p>
                                        <img src="/images/개인수업버튼.png">
                                    </button>
                                    <button class="gx">
                                        <p class="regist-big-font">그룹 수업</p>
                                        <p class="regist-small-font">일정을 생성해 주세요.</p>
                                        <img src="/images/그룹수업버튼.png">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--일정생성 모달 끝-->
                        <!-- 개인수업 등록 모달 -->
                        <div id="registPtModal" class="modal">
                            <div class="updatePt-modal-content">
                                <div class="updatePt-modal-header">
                                    <button class="close" id="changeBack">
                                        <img src="/images/back.png">
                                    </button>
                                    <p>일정 생성</p>
                                </div>
                                <p class="pt-or-gx">개인 수업</p>
                                <form action="/schedule/scheduleregist" method="post">
                                    <label>담당 강사 선택</label><br>
                                    <select name="empCode" id="empSelectCode"></select><br>
                                    <label>일자 선택</label><br>
                                    <input type="date" name="scheRunDate"/><br>
                                    <label>시간 선택</label><br>
                                    <div class="time-choice">
                                    <input type="time" name="scheStartTime">
                                    <p>~</p>
                                    <input type="time" name="scheEndTime">
                                    </div>
                                    <button class="check" type="submit">확인</button>
                                </form>
                                <!-- 강사선택 스크립트 -->
                                <script>
                                    fetch("/schedule/teacher")
                                        .then(res =>res.json())
                                        .then(data => {
                                            const $empCode = document.getElementById("empSelectCode");

                                            for(let index in data) {
                                                const $option = document.createElement('option');
                                                $option.value = data[index].empCode;
                                                $option.text = data[index].empName;

                                                $empCode.appendChild($option);
                                                document.getElementById("empSelectCode").value = data[index].empCode;
                                            }
                                        })
                                </script>
                                <button class="close">취소</button>
                            </div>
                        </div>

                    </div>
                    <div class="weekdays">
                        <div>일</div>
                        <div>월</div>
                        <div>화</div>
                        <div>수</div>
                        <div>목</div>
                        <div>금</div>
                        <div>토</div>
                    </div>
                    <div class="days">
                        <!-- js -->
                    </div>
                <!-- New 달력 -->
                </div>
                <!--Today-->
                <div class="right">
                    <div class="right-container">
                        <div class="today-date">
                            <p th:text="${scheRunDate}"></p>
                        </div>
                        <div class="count-schedule">
                            <p>·총일정 : </p>
                            <p>·취소 일정 : </p>
                            <p>·취소율 : </p>
                        </div>
                        <div class="atten-classify">
                            <p style="color: #4041c5">■ 출석</p>
                            <p style="color: #ff0000">■ 결석</p>
                            <p style="color: #000000">■ 예약</p>
                            <p style="color: #ABABAB">■ 예약대기</p>
                        </div>
                        <!--DB 출력-->
                        <table>
                            <tr>
                                <th>강의코드</th>
                                <th>강사명</th>
                                <th>시작시간</th>
                                <th>인원</th>
                                <th>회원명</th>
                                <th>출결</th>
                            </tr>
                            <tr th:each="schedule : ${selectOneRunDate}" >
                                <td>
                                    <a th:text="${selectOneRunDate.classCategory.className}" th:href="@{|/schedule/schedulelist/${selectOneRunDate.scheCode}|}" style="text-decoration-line: none"></a>
                                </td>
                                <td>
                                    <a th:text="${selectOneRunDate.empCategory.empName}" th:href="@{|/schedule/schedulelist/${selectOneRunDate.scheCode}|}" style="text-decoration-line: none"></a>
                                </td>
                                <td>
                                    <a th:text="${selectOneRunDate.scheStartTime}" th:href="@{|/schedule/schedulelist/${selectOneRunDate.scheCode}|}" style="text-decoration-line: none"></a>
                                </td>
                                <td>
                                    <a th:text="${selectOneRunDate.scheParticipate}" th:href="@{|/schedule/schedulelist/${selectOneRunDate.scheCode}|}" style="text-decoration-line: none"></a>
                                </td>
                                <td>
                                    <a th:text="${selectOneRunDate.userCategory.memberName}" th:href="@{|/schedule/schedulelist/${selectOneRunDate.scheCode}|}" style="text-decoration-line: none"></a>
                                </td>
                                <td>
                                    <a th:text="${selectOneRunDate.scheAtten}" th:href="@{|/schedule/schedulelist/${selectOneRunDate.scheCode}|}" style="text-decoration-line: none"></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!--개인 작업 종료-->
        </div>
        <!--Main End-->

        <!--Footer Start-->
        <div th:include="common/footer"></div>
        <!--Footer End-->
    </div>
</div>

<!--<script>-->
<!--    // 기본 달력 생성 함수-->
<!--    function generateCalendar(year, month) {-->
<!--        const firstDay = new Date(year, month, 1);-->
<!--        const lastDay = new Date(year, month + 1, 0);-->
<!--        const daysInMonth = lastDay.getDate();-->

<!--        const calendarBody = document.getElementById('calendar-body');-->
<!--        calendarBody.innerHTML = '';-->

<!--        let date = 1;-->
<!--        for (let i = 0; i < 6; i++) {-->
<!--            const row = document.createElement('tr');-->
<!--            for (let j = 0; j < 7; j++) {-->
<!--                if (i === 0 && j < firstDay.getDay()) {-->
<!--                    const cell = document.createElement('td');-->
<!--                    row.appendChild(cell);-->
<!--                } else if (date > daysInMonth) {-->
<!--                    break;-->
<!--                } else {-->
<!--                    const cell = document.createElement('td');-->
<!--                    cell.innerText = date;-->
<!--                    // 클릭 이벤트 추가-->
<!--                    cell.addEventListener('click', function () {-->
<!--                        const clickedDate = new Date(year, month, parseInt(this.innerText, 10) + 1);-->
<!--                        const mysqlDate = clickedDate.toISOString().split('T')[0];-->
<!--                        console.log('Clicked on ' + mysqlDate);-->

<!--                        window.location.href = `/schedule/test/${mysqlDate}`;-->


<!--                        fetch("/schedule/scherundate")-->
<!--                            .then(res => res.json())-->
<!--                            .then(data => {-->
<!--                                console.log('data = ', data);-->
<!--                                const matchingDate = data.find(item => item.scheRunDate === mysqlDate);-->
<!--                                if (matchingDate) {-->
<!--                                    console.log("matchingItem", matchingDate);-->
<!--                                } else {-->
<!--                                    console.log("No matching");-->
<!--                                }-->
<!--                            })-->
<!--                            .catch(error => {-->
<!--                                console.error("error", error);-->
<!--                            });-->
<!--                    });-->
<!--                    row.appendChild(cell);-->
<!--                    date++;-->
<!--                }-->
<!--            }-->
<!--            calendarBody.appendChild(row);-->
<!--        }-->
<!--    }-->

<!--    // 현재 날짜 가져오기-->
<!--    const today = new Date();-->
<!--    const currentYear = today.getFullYear();-->
<!--    const currentMonth = today.getMonth();-->

<!--    // 달력 생성-->
<!--    generateCalendar(currentYear, currentMonth);-->
<!--</script>-->

<!-- New 달력 스크립트 -->
<script>
    const calendar = document.querySelector(".calendar"),
        date = document.querySelector(".date"),
        daysContainer = document.querySelector(".days"),
        prev = document.querySelector(".prev"),
        next = document.querySelector(".next"),
        todayBtn = document.querySelector(".today-btn"),
        gotoBtn = document.querySelector(".goto-btn"),
        dateInput = document.querySelector(".date-input");
    eventDay = document.querySelector(".event-day"),
        eventDate = document.querySelector(".event-date"),
        eventsContainer = document.querySelector(".events"),
        addEventSubmit = document.querySelector(".add-event-btn");


    let today = new Date();
    let activeDay;
    let month = today.getMonth();
    let year = today.getFullYear();

    const months = [
        "1월",
        "2월",
        "3월",
        "4월",
        "5월",
        "6월",
        "7월",
        "8월",
        "9월",
        "10월",
        "11월",
        "12월",
    ];

    //set a empty array
    let eventsArr = [];

    //function to add days

    function initCalendar() {
        //to get prev month days and current month all days and rem next month days
        const firstDay = new Date(year, month, 1);
        const lastDay = new Date(year, month + 1, 0);
        const prevLastDay = new Date(year, month, 0);
        const prevDays = prevLastDay.getDate();
        const lastDate = lastDay.getDate();
        const day = firstDay.getDay();
        const nextDays = 7 - lastDay.getDay() -1;

        //update date top of calendar
        date.innerHTML = months[month] + " " + year;

        //adding days on dom

        let days = "";

        // prev month days

        for(let x = day; x > 0; x--) {
            days += `<div class="day prev-date" >${prevDays -x + 1}</div>`;
        }

        // current month days
        for(let i = 1; i <= lastDate; i++) {

            // check if event present on current day
            let event = false;
            eventsArr.forEach((eventObj) => {
                if(
                    eventObj.day === i &&
                    eventObj.month === month + 1 &&
                    eventObj.year === year
                ) {
                    // if event found
                    event = true;
                }
            });


            // if day is today add class today
            if(i === new Date().getDate() &&
                year === new Date().getFullYear() &&
                month === new Date().getMonth()
            ) {

                // activeDay = i;
                // getActiveDay(i);
                // updateEvents(i);

                //if event found also add event class
                if(event) {
                    days += `<div class="day today active event" >${i}</div>`;
                } else {
                    days += `<div class="day today active">${i}</div>`;
                }
            }
            //add remaing as it is
            else {
                if(event) {
                    days += `<div class="day event" >${i}</div>`;
                } else {
                    days += `<div class="day">${i}</div>`;
                }
            }
        }

        //next month days

        for(let j = 1; j <= nextDays; j++) {
            days += `<div class="day next-date" >${j}</div>`;
        }
        daysContainer.innerHTML = days;
        //add listner after calendar initialized
        addListner();
    }

    initCalendar();

    //prev month
    function prevMonth() {
        month--;
        if(month <0) {
            month = 11;
            year--;
        }
        initCalendar();
    }

    // next month

    function nextMonth() {
        month++;
        if(month > 11) {
            month = 0;
            year++;
        }
        initCalendar();
    }

    // add eventlistner on prev and next

    prev.addEventListener("click", prevMonth);
    next.addEventListener("click", nextMonth);

    //lets create function to add listner on days after rendered

    function addListner() {
        const days = document.querySelectorAll(".day")
        days.forEach((day) => {
            day.addEventListener("click", (e) => {
                activeDay = Number(e.target.innerHTML);
                const clickedDate = new Date(year, month, parseInt(e.target.innerText, 10)+1);
                const mysqlDate = clickedDate.toISOString().split('T')[0];
                console.log('Clicked on ' + mysqlDate);
                window.location.href = `/schedule/test/${mysqlDate}`;

                // remove active from already active day

                days.forEach((day) => {

                    day.classList.remove("active");

                });
                // if prev month day clicked goto prev month and add active

                if(e.target.classList.contains("prev-date")) {
                    prevMonth();

                    setTimeout(() => {
                        // select all days of that month
                        const days = document.querySelector(".day");

                        // after going to prev month add active to clicked
                        days.forEach((day) => {
                            if(
                                !day.classList.contains("prev-date") &&
                                day.innerHTML === e.target.innerHTML
                            ) {
                                day.classList.add("active");
                            }
                        });
                    }, 100);
                    // same with next month
                } else if(e.target.classList.contains("next-date")) {
                    nextMonth();

                    setTimeout(() => {
                        // select all days of that month
                        const days = document.querySelector(".day");

                        // after going to prev month add active to clicked
                        days.forEach((day) => {
                            if(
                                !day.classList.contains("next-date") &&
                                day.innerHTML === e.target.innerHTML
                            ) {
                                day.classList.add("active");
                            }
                        });
                    }, 100);
                } else {
                    //remaing current month days
                    e.target.classList.add("active");
                }

            });
        });
    }

    // function to show events of that day
    function updateEvents(date) {
        let events = "";
        eventsArr.forEach((event) => {
            //get events of active day only
            if (date === event.day &&
                month + 1 === event.month &&
                year === event.year) {
                //then show event on document

                event.events.forEach((event) => {
                    events += `
                    <div class="event">
                        <div class="title">
                            <i class="fas fa-circle"></i>
                            <h3 class="event-title">${event.title}</h3>
                        </div>
                        <div class="event-time">
                            <span class="event-time">${event.time}</span>
                        </div>
                    </div>
                    `;
                });
            }
        });

        //if nothing found

        if((events === "")) {
            events = `<div class="no-event">
                    <h3>No Event</h3>
                  </div>`;
        }
        console.log(events);
        eventsContainer.innerHTML = events;

        //save events when new one added
        saveEvents();

    }

    //lets store events in local storage get from there

    function saveEvents() {
        localStorage.setItem("events", JSON.stringify(eventsArr));
    }

    function getEvents() {
        if(localStorage.getItem("events" === null)) {
            return;
        }
        // eventsArr.push(...JSON.parse(localStorage.getItem("events")));
    }
</script>
<script>
    // 모달요소 가져오기
    let registScheModal = document.getElementById("registScheModal");
    let registPtModal = document.getElementById("registPtModal");
    // 일정생성 버튼 가져오기
    let registscheBtn = document.getElementById("makeschedule");
    let registPtBtn = document.getElementById("registPtBtn");
    let closeBtns = document.getElementsByClassName("close");


    registscheBtn.onclick = function() {
        registScheModal.style.display = "block";
    }

    registPtBtn.onclick = function() {
        registPtModal.style.display = "block";
    }

    for(let i = 0; i < closeBtns.length; i++) {
        closeBtns[i].onclick = function() {
            registPtModal.style.display = "none";
        }
    }

    // 모달 외부 클릭 시 모달 닫기
    window.onclick = function(event) {
        if(event.target == registScheModal || event.target == modal) {
            console.log("외부클릭 이벤트 발생함", event.target)
            registScheModal.style.display = "none";
        }
    }
</script>



</body>
</html>