<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="/styles/mainStyle.css">
    <link rel="stylesheet" href="/styles/headerStyle.css">
    <link rel="stylesheet" href="/styles/navbarStyle.css">
    <link rel="stylesheet" href="/styles/myStyle.css">
    <link rel="stylesheet" href="/styles/schedule/calendarStyle.css">
    <link rel="stylesheet" href="/styles/footerStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>
</head>
<body>
<div class="container">
    <div class="app-area">
        <!--Heade Start-->
        <div th:include="common/header"></div>
        <!--Header End-->

        <!--Main Start-->
        <div class="main-container">
            <!--Navbar Start-->
            <div th:include="common/navbar"></div>
            <!--Navbar End-->
            <!--개인 작업 시작-->
            <div class="my-style" style="display: flex">
                <!--달력-->
                <div class="left">
                    <table class="calendar" id="calendar">
                        <thead>
                        <tr>
                            <th>Sun</th>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>Sat</th>
                        </tr>
                        </thead>
                        <tbody id="calendar-body">
                        </tbody>
                    </table>
                </div>
                <!--Today-->
                <div class="right">
                    <div class="right-container">
                        <div class="today-date">
                            <div class="event-date">16 November 2024</div>
                            <div class="event-day">Wed</div>
                        </div>
                        <div class="count-schedule">
                            <p>·총일정 : </p>
                            <p>·취소 일정 : </p>
                            <p>·취소율 : </p>
                        </div>
                        <div class="atten-classify">
                            <p style="color: #4041c5">■ 출석</p>
                            <p style="color: #ff0000">■ 결석</p>
                            <p style="color: #000000">■ 예약</p>
                            <p style="color: #ABABAB">■ 예약대기</p>
                        </div>
                        <!--DB 출력-->
                        <table>
                            <tr>
                                <th>강의코드</th>
                                <th>강사명</th>
                                <th>시작시간</th>
                                <th>인원</th>
                                <th>회원명</th>
                                <th>출결</th>
                            </tr>
                            <tr th:each="schedule : ${allList}">
                                <td th:text="${schedule.classCategory.className}"></td>
                                <td th:text="${schedule.empCategory.empName}"></td>
                                <td th:text="${schedule.scheStartTime}"></td>
                                <td th:text="${schedule.scheParticipate}"></td>
                                <td th:text="${schedule.userCategory.memberName}"></td>
                                <td th:text="${schedule.scheAtten}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!--개인 작업 종료-->
        </div>
        <!--Main End-->

        <!--Footer Start-->
        <div th:include="common/footer"></div>
        <!--Footer End-->
    </div>
</div>

<script>
    // 달력 생성 함수
    function generateCalendar(year, month) {
        const firstDay = new Date(year, month, 1);
        const lastDay = new Date(year, month + 1, 0);
        const daysInMonth = lastDay.getDate();

        const calendarBody = document.getElementById('calendar-body');
        calendarBody.innerHTML = '';

        let date = 1;
        for (let i = 0; i < 6; i++) {
            const row = document.createElement('tr');
            for (let j = 0; j < 7; j++) {
                if (i === 0 && j < firstDay.getDay()) {
                    const cell = document.createElement('td');
                    row.appendChild(cell);
                } else if (date > daysInMonth) {
                    break;
                } else {
                    const cell = document.createElement('td');
                    cell.innerText = date;
                    // 클릭 이벤트 추가
                    cell.addEventListener('click', function () {
                        const clickedDate = new Date(year, month, parseInt(this.innerText, 10) + 1);
                        const mysqlDate = clickedDate.toISOString().split('T')[0];
                        console.log('Clicked on ' + mysqlDate);

                        fetch("/schedule/scherundate")
                            .then(res => res.json())
                            .then(data => {
                                console.log('data = ', data);
                                const matchingDate = data.find(item => item.scheRunDate === mysqlDate);
                                if (matchingDate) {
                                    console.log("matchingItem", matchingDate);
                                } else {
                                    console.log("No matching");
                                }
                            })
                            .catch(error => {
                                console.error("error", error);
                            });
                    });
                    row.appendChild(cell);
                    date++;
                }
            }
            calendarBody.appendChild(row);
        }
    }

    // 현재 날짜 가져오기
    const today = new Date();
    const currentYear = today.getFullYear();
    const currentMonth = today.getMonth();

    // 달력 생성
    generateCalendar(currentYear, currentMonth);
</script>


<!--<script>-->
<!--    const calendar = document.querySelector(".calendar"),-->
<!--        date = document.querySelector(".date"),-->
<!--        daysContainer = document.querySelector(".days"),-->
<!--        prev = document.querySelector(".prev"),-->
<!--        next = document.querySelector(".next"),-->
<!--        todayBtn = document.querySelector(".today-btn"),-->
<!--        gotoBtn = document.querySelector(".goto-btn"),-->
<!--        dateInput = document.querySelector(".date-input");-->


<!--        addEventSubmit = document.querySelector(".add-event-btn");-->


<!--    let today = new Date();-->
<!--    let activeDay;-->
<!--    let month = today.getMonth();-->
<!--    let year = today.getFullYear();-->

<!--    const months = [-->
<!--        "01",-->
<!--        "02",-->
<!--        "03",-->
<!--        "04",-->
<!--        "05",-->
<!--        "06",-->
<!--        "07",-->
<!--        "08",-->
<!--        "09",-->
<!--        "10",-->
<!--        "11",-->
<!--        "12",-->
<!--    ];-->

<!--    //set a empty array-->
<!--    let eventsArr = [];-->

<!--    // then call get-->
<!--    // getEvents();-->

<!--    //function to add days-->

<!--    function initCalendar() {-->
<!--        //to get prev month days and current month all days and rem next month days-->
<!--        const firstDay = new Date(year, month, 1);-->
<!--        const lastDay = new Date(year, month + 1, 0);-->
<!--        const prevLastDay = new Date(year, month, 0);-->
<!--        const prevDays = prevLastDay.getDate();-->
<!--        const lastDate = lastDay.getDate();-->
<!--        const day = firstDay.getDay();-->
<!--        const nextDays = 7 - lastDay.getDay() - 1;-->

<!--        //update date top of calendar-->
<!--        date.innerHTML = year + "년 " + months[month] + "월";-->

<!--        //adding days on dom-->

<!--        let days = "";-->

<!--        // prev month days-->

<!--        for (let x = day; x > 0; x&#45;&#45;) {-->
<!--            days += `<div class="day prev-date" >${prevDays - x + 1}</div>`;-->
<!--        }-->

<!--        // current month days-->
<!--        for (let i = 1; i <= lastDate; i++) {-->

<!--            // check if event present on current day-->
<!--            let event = false;-->
<!--            eventsArr.forEach((eventObj) => {-->
<!--                if (-->
<!--                    eventObj.day === i &&-->
<!--                    eventObj.month === month + 1 &&-->
<!--                    eventObj.year === year-->
<!--                ) {-->
<!--                    // if event found-->
<!--                    event = true;-->
<!--                }-->
<!--            });-->


<!--            // if day is today add class today-->
<!--            if (i === new Date().getDate() &&-->
<!--                year === new Date().getFullYear() &&-->
<!--                month === new Date().getMonth()-->
<!--            ) {-->

<!--                activeDay = i;-->
<!--                getActiveDay(i);-->
<!--                console.log(getActiveDay(i));-->

<!--                //if event found also add event class-->
<!--                if (event) {-->
<!--                    days += `<div class="day today active event" >${i}</div>`;-->
<!--                } else {-->
<!--                    days += `<div class="day today active">${i}</div>`;-->
<!--                }-->
<!--            }-->
<!--            //add remaing as it is-->
<!--            else {-->
<!--                if (event) {-->
<!--                    days += `<div class="day event" >${i}</div>`;-->
<!--                } else {-->
<!--                    days += `<div class="day" >${i}</div>`;-->
<!--                }-->
<!--            }-->
<!--        }-->

<!--        //next month days-->

<!--        for (let j = 1; j <= nextDays; j++) {-->
<!--            days += `<div class="day next-date" >${j}</div>`;-->
<!--        }-->
<!--        daysContainer.innerHTML = days;-->
<!--        //add listner after calendar initialized-->
<!--        addListner();-->
<!--    }-->

<!--    initCalendar();-->

<!--    //prev month-->
<!--    function prevMonth() {-->
<!--        month&#45;&#45;;-->
<!--        if (month < 0) {-->
<!--            month = 11;-->
<!--            year&#45;&#45;;-->
<!--        }-->
<!--        initCalendar();-->
<!--    }-->

<!--    // next month-->

<!--    function nextMonth() {-->
<!--        month++;-->
<!--        if (month > 11) {-->
<!--            month = 0;-->
<!--            year++;-->
<!--        }-->
<!--        initCalendar();-->
<!--    }-->

<!--    // add eventlistner on prev and next-->

<!--    prev.addEventListener("click", prevMonth);-->
<!--    next.addEventListener("click", nextMonth);-->

<!--    // our calendar is ready-->
<!--    //lets add goto date and goto today functionality-->

<!--    todayBtn.addEventListener("click", () => {-->
<!--        today = new Date();-->
<!--        month = today.getMonth();-->
<!--        year = today.getFullYear();-->
<!--        initCalendar();-->
<!--    })-->

<!--    // //lets create function to add listner on days after rendered-->
<!--    function addListner() {-->
<!--        const days = document.querySelectorAll(".day")-->
<!--        days.forEach((day) => {-->
<!--            day.addEventListener("click", (e) => {-->
<!--                activeDay = Number(e.target.innerHTML);-->

<!--                // call active day after click-->
<!--                getActiveDay(e.target.innerHTML);-->
<!--                // updateEvents(Number(e.target.innerHTML));-->

<!--                // remove active from already active day-->

<!--                days.forEach((day) => {-->
<!--                    day.classList.remove("active");-->
<!--                });-->

<!--                // if prev month day clicked goto prev month and add active-->

<!--                if (e.target.classList.contains("prev-date")) {-->
<!--                    prevMonth();-->

<!--                    setTimeout(() => {-->
<!--                        // select all days of that month-->
<!--                        const days = document.querySelector(".day");-->

<!--                        // after going to prev month add active to clicked-->
<!--                        days.forEach((day) => {-->
<!--                            if (-->
<!--                                !day.classList.contains("prev-date") &&-->
<!--                                day.innerHTML === e.target.innerHTML-->
<!--                            ) {-->
<!--                                day.classList.add("active");-->
<!--                            }-->
<!--                        });-->
<!--                    }, 100);-->
<!--                    // same with next month-->
<!--                } else if (e.target.classList.contains("next-date")) {-->
<!--                    nextMonth();-->

<!--                    setTimeout(() => {-->
<!--                        // select all days of that month-->
<!--                        const days = document.querySelector(".day");-->

<!--                        // after going to prev month add active to clicked-->
<!--                        days.forEach((day) => {-->
<!--                            if (-->
<!--                                !day.classList.contains("next-date") &&-->
<!--                                day.innerHTML === e.target.innerHTML-->
<!--                            ) {-->
<!--                                day.classList.add("active");-->
<!--                            }-->
<!--                        });-->
<!--                    }, 100);-->
<!--                } else {-->
<!--                    //remaing current month days-->
<!--                    e.target.classList.add("active");-->
<!--                }-->

<!--            });-->
<!--        });-->
<!--    }-->

<!--    // lets show active day events and date at top-->

<!--    function getActiveDay(date) {-->
<!--        const day = new Date(year, month, date);-->
<!--        const dayName = day.toString().split(" ")[0];-->
<!--        eventDay.innerHTML = "(" + dayName + ")";-->
<!--        eventDate.innerHTML = year + ". " + months[month] + ". " + date-->
<!--        console.log(eventDate);-->
<!--    }-->
<!--</script>-->

<!--<script th:inline="javascript">-->
<!--    fetch("/schedule/scherundate")-->
<!--        .then(res => res.json())-->
<!--        .then(data => {-->
<!--            console.log('data = ', data);-->
<!--        })-->


<!--// function filterEventByDate(data) {-->
<!--// const filteredEvents = [];-->
<!--// eventsArr.forEach(schedule => {-->
<!--// if (schedule.scheRunDate === date) {-->
<!--// filteredEvents.push(schedule);-->
<!--// }-->
<!--// });-->
<!--// }-->


<!--// function updateEvents(date) {-->
<!--// fetch("/schedule/schedulemain")-->
<!--// .then(res => res.json())-->
<!--// .then(data => {-->
<!--// console.log(data)-->
<!--// const scheRundate = data.scheRunDate;-->
<!--// console.log(scheRundate);-->

<!--// const filteredEvents = filterEventByDate(date);-->
<!--// let eventsHTML = "";-->
<!--// filteredEvents.forEach(data => {-->
<!--// eventsHTML += `-->
<!--//-->
<!--// <table>-->
<!--//     //-->
<!--//     <tr>-->
<!--//         //-->
<!--//         <td>${data.</td>-->
<!--//         //-->
<!--//     </tr>-->
<!--//     //-->
<!--// </table>-->
<!--// //-->
<!--// // `-->
<!--// // })-->


<!--// })-->
<!--// }-->


<!--// function to show events of that day-->
<!--// function updateEvents(date) {-->
<!--// let events = "";-->
<!--//-->
<!--// eventsArr.forEach((event) => {-->
<!--// //get events of active day only-->
<!--// if (date === event.day &&-->
<!--// month + 1 === event.month &&-->
<!--// year === event.year) {-->
<!--// //then show event on document-->
<!--// event.events.forEach((schedule) => {-->
<!--// console.log("당일일정테스트")-->
<!--// if (schedule.scheRunDate == `${year}-${months[month]}-${date}`) {-->
<!--// events += `-->
<!--//-->
<!--// <table>-->
<!--//     //-->
<!--//     <tr>-->
<!--//         //-->
<!--//         <td th:text="${schedule.classCategory.className}"></td>-->
<!--//         //-->
<!--//         <td th:text="${schedule.empCategory.empName}"></td>-->
<!--//         //-->
<!--//         <td th:text="${schedule.scheStartTime}"></td>-->
<!--//         //-->
<!--//         <td th:text="${schedule.scheParticipate}"></td>-->
<!--//         //-->
<!--//         <td th:text="${schedule.userCategory.memberName}"></td>-->
<!--//         //-->
<!--//         <td th:text="${schedule.scheAtten}"></td>-->
<!--//         //-->
<!--//     </tr>-->
<!--//     //-->
<!--// </table>-->
<!--// `;-->
<!--// }-->
<!--// });-->
<!--// }-->
<!--// });-->
<!--// //if nothing found-->
<!--// if ((events === "")) {-->
<!--// events = `-->
<!--// <div class="no-event">-->
<!--//     // <h3>No Event</h3>-->
<!--//     //-->
<!--// </div>-->
<!--// `;-->
<!--// }-->
<!--// console.log(events);-->
<!--// eventsContainer.innerHTML = events;-->
<!--//-->
<!--// //save events when new one added-->
<!--// // saveEvents();-->
<!--//-->
<!--// }-->
<!--//-->
<!--// //lets create function to add events-->
<!--// addEventSubmit.addEventListener("click", () => {-->
<!--// const eventTitle = addEventTitle.value;-->
<!--// const eventTimeFrom = addEventFrom.value;-->
<!--// const eventTimeTo = addEventTo.value;-->
<!--//-->
<!--// // some validations-->
<!--//-->
<!--// if (eventTitle === "" ||-->
<!--// eventTimeFrom === "" ||-->
<!--// eventTimeTo === "") {-->
<!--// alert("please fill all the fields");-->
<!--// return;-->
<!--// }-->
<!--//-->
<!--// const timeFromArr = eventTimeFrom.split(":");-->
<!--// const timeToArr = eventTimeTo.split(":");-->
<!--//-->
<!--// if (-->
<!--// timeFromArr.length !== 2 ||-->
<!--// timeToArr.length !== 2 ||-->
<!--// timeFromArr[0] > 23 ||-->
<!--// timeFromArr[1] > 59 ||-->
<!--// timeToArr[0] > 23 ||-->
<!--// timeToArr[1] > 59-->
<!--// ) {-->
<!--// alert("Invalid Time Format");-->
<!--// }-->
<!--//-->
<!--// const timeFrom = convertTime(eventTimeFrom);-->
<!--// const timeTo = convertTime(eventTimeTo);-->
<!--//-->
<!--// const newEvent = {-->
<!--// title: eventTitle,-->
<!--// time: timeFrom + " - " + timeTo,-->
<!--// };-->
<!--//-->
<!--// let eventAdded = false;-->
<!--//-->
<!--// //check if eventsarr not empty-->
<!--// if (eventsArr.length > 0) {-->
<!--// //check if current day has already and event then add to that-->
<!--// eventsArr.forEach((item) => {-->
<!--// if (-->
<!--// item.day === activeDay &&-->
<!--// item.month === month + 1 &&-->
<!--// item.year === year-->
<!--// ) {-->
<!--// item.events.push(newEvent);-->
<!--// eventAdded = true;-->
<!--// }-->
<!--// });-->
<!--// }-->
<!--//-->
<!--// // if event array empty or current day has no event create new-->
<!--// if (!eventAdded) {-->
<!--// eventsArr.push({-->
<!--// day: activeDay,-->
<!--// month: month + 1,-->
<!--// year: year,-->
<!--// events: [newEvent],-->
<!--// });-->
<!--// }-->
<!--//-->
<!--// //remove active from add event form-->
<!--// addEventContainer.classList.remove("active")-->
<!--// //clear the fields-->
<!--// addEventTitle.value = "";-->
<!--// addEventFrom.value = "";-->
<!--// addEventTo.value = "";-->
<!--//-->
<!--// // show current added event-->
<!--// updateEvents(activeDay);-->
<!--//-->
<!--// // also add event class to newly added day if not already-->
<!--//-->
<!--// const activeDayElem = document.querySelector(".day.active");-->
<!--// if (!activeDayElem.classList.contains("event")) {-->
<!--// activeDayElem.classList.add("event");-->
<!--// }-->
<!--// });-->
<!--//-->
<!--// function convertTime(time) {-->
<!--// let timeArr = time.split(":");-->
<!--// let timeHour = timeArr[0];-->
<!--// let timeMin = timeArr[1];-->
<!--// let timeFormat = timeHour >= 12 ? "PM" : "AM";-->
<!--// timeHour = timeHour % 12 || 12;-->
<!--// time = timeHour + ":" + timeMin + " " + timeFormat;-->
<!--// return time;-->
<!--// }-->
<!--//-->
<!--// // lets create a function to remove events on click-->
<!--// eventsContainer.addEventListener("click", (e) => {-->
<!--// if (e.target.classList.contains("event")) {-->
<!--// const eventTitle = e.target.children[0].children[1].innerHTML;-->
<!--// // get the title of event than search in array by title and delete-->
<!--// eventsArr.forEach((event) => {-->
<!--// if (-->
<!--// event.day === activeDay &&-->
<!--// event.month === month + 1 &&-->
<!--// event.year === year-->
<!--// ) {-->
<!--// event.events.forEach((item, index) => {-->
<!--// if (item.title === eventTitle) {-->
<!--// event.events.splice(index, 1);-->
<!--// }-->
<!--// });-->
<!--//-->
<!--// //ifno event remaining on that dat remove complete day-->
<!--//-->
<!--// if (event.events.length === 0) {-->
<!--// eventsArr.splice(eventsArr.indexOf(event), 1);-->
<!--// //after remove complete day also remove active class of that day-->
<!--//-->
<!--// const activeDayElem = document.querySelector(".day.active");-->
<!--// if (activeDayElem.classList.contains("event")) {-->
<!--// activeDayElem.classList.remove("event");-->
<!--// }-->
<!--// }-->
<!--//-->
<!--// }-->
<!--// });-->
<!--// //after removing from array update event-->
<!--// updateEvents(activeDay);-->
<!--// }-->
<!--// })-->

<!--//lets store events in local storage get from there-->

<!--// function saveEvents() {-->
<!--// localStorage.setItem("events", JSON.stringify(eventsArr));-->
<!--// }-->
<!--//-->
<!--// function getEvents() {-->
<!--// if (localStorage.getItem("events" === null)) {-->
<!--// return;-->
<!--// }-->
<!--// // eventsArr.push(...JSON.parse(localStorage.getItem("events")));-->
<!--// }-->
<!--</script>-->

</body>
</html>