<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https:/mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.willingtogohome.gymga.user.pain.model.dao.PainMapper">

    <resultMap id="painResultMap" type="com.willingtogohome.gymga.user.pain.model.dto.PainDTO">
        <id property="userCode" column="user_code"/>
        <result property="userName" column="user_name"/>
        <result property="pos" column="pain_pos"/>
        <result property="type" column="pain_type"/>
        <result property="dur" column="pain_dur"/>
        <result property="cause" column="pain_cause"/>
        <result property="str" column="pain_str"/>
        <result property="etc" column="pain_etc"/>
    </resultMap>

    <resultMap id="painUpdateResultMap" type="com.willingtogohome.gymga.user.pain.model.dto.PainUpdateDTO">
        <id property="userCode" column="user_code"/>
        <result property="pos" column="pain_pos"/>
        <result property="type" column="pain_type"/>
        <result property="dur" column="pain_dur"/>
        <result property="cause" column="pain_cause"/>
        <result property="str" column="pain_str"/>
        <result property="etc" column="pain_etc"/>
    </resultMap>

    <select id="selectPain" resultMap="painResultMap">
        SELECT
            A.USER_CODE as user_code
            , B.USER_NAME as user_name
            , A.PAIN_POS as pain_pos
            , A.PAIN_TYPE as pain_type
            , A.PAIN_DUR as pain_dur
            , A.PAIN_CAUSE as pain_cause
            , A.PAIN_STR as pain_str
            , A.PAIN_ETC as pain_etc
        FROM
           PAINDB A
        JOIN
            USERDB B ON A.USER_CODE = B.USER_CODE
        WHERE
            A.USER_CODE = #{ code };
    </select>

    <select id="resultPain" resultMap="painResultMap">
        SELECT
            USER_CODE
            , PAIN_POS
            , PAIN_TYPE
            , PAIN_DUR
            , PAIN_CAUSE
            , PAIN_STR
            , PAIN_ETC
        FROM
            PAINDB
        WHERE
            USER_CODE = #{code};
    </select>

    <insert id="registPainCodeAndPos" parameterType="com.willingtogohome.gymga.user.pain.model.dto.PainDTO">
        INSERT INTO PAINDB(
            USER_CODE
            , PAIN_POS
        )
        VALUES(
            #{ code }
            , #{ pos }
        )
    </insert>

    <update id="registPain" parameterType="com.willingtogohome.gymga.user.pain.model.dto.PainDTO">
        UPDATE PAINDB
        <set>
            <if test="type != null and type != ''">
                PAIN_TYPE = #{ type }
            </if>
            <if test="dur != null and dur!= ''">
                , PAIN_DUR = #{ dur }
            </if>
            <if test="cause != null and cause != ''">
                , PAIN_CAUSE = #{ cause }
            </if>
            <if test="str != null and str != ''">
                , PAIN_STR = #{ str }
            </if>
            <if test="etc != null and etc != ''">
                , PAIN_ETC = #{ etc }
            </if>
        </set>
        WHERE USER_CODE = #{ userCode }
        AND PAIN_POS = #{ pos }
    </update>

    <delete id="deletePain" parameterType="int">
        DELETE FROM
            PAINDB
        WHERE
            USER_CODE = #{ code }
            AND PAIN_POS = #{ pos }
    </delete>

    <select id="updatePain" resultMap="painResultMap">
        SELECT
            USER_CODE
            , PAIN_POS
            , PAIN_TYPE
            , PAIN_DUR
            , PAIN_CAUSE
            , PAIN_STR
            , PAIN_ETC
        FROM
            PAINDB
        WHERE
            USER_CODE = #{code};
    </select>

    <update id="update" parameterType="com.willingtogohome.gymga.user.pain.model.dto.PainDTO">
        UPDATE PAINDB
        <set>
            <if test="type != null and type != ''">
                PAIN_TYPE = #{ type }
            </if>
            <if test="dur != null and dur!= ''">
                , PAIN_DUR = #{ dur }
            </if>
            <if test="cause != null and cause != ''">
                , PAIN_CAUSE = #{ cause }
            </if>
            <if test="str != null and str != ''">
                , PAIN_STR = #{ str }
            </if>
            <if test="etc != null and etc != ''">
                , PAIN_ETC = #{ etc }
            </if>
        </set>
        WHERE USER_CODE = #{ userCode }
        AND PAIN_POS = #{ pos }
    </update>

    <select id="getPainByCode" resultMap="painUpdateResultMap">
        SELECT
            USER_CODE
            , PAIN_POS
            , PAIN_TYPE
            , PAIN_DUR
            , PAIN_CAUSE
            , PAIN_STR
            , PAIN_ETC
        FROM
            PAINDB
        WHERE
            USER_CODE = #{ code }
    </select>

</mapper>