.contents {
    width: 1147px;
    height: 637px;
    border-radius: 10px;
    overflow: scroll;
    margin: auto;
    margin-top: 23px;
    background-color: #FFFFFF;
    margin-right: 25px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.on {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
}

.back {
    cursor: pointer;
    padding-left: 1%;
}

.topic {
    font-size: 24px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    color: black;
    line-height: 47px;
}

.topic2 {
    font-size: 24px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    color: black;
    line-height: 47px;
    margin-top: 15px;
    margin-left: 20px;
}

.line1 {
    width: 95%;
    align-content: center;
    margin: 0 auto;
    border: 1px solid #D9D9D9;;
}

.allBox {
    display: flex;
}

.painImg {
    width: 300px;
    height: 500px;
    margin-top: 25px;
    margin-left: 30px;
}

.middleBox {
    display: flex;
    flex-direction: column;
}

.painCategoryBox{
    display: flex;
    align-items: center;
    height: 35px;
    margin-top: 25px;
}

.painPosBox {
    width: 120px;
    height: 35px;
    background-color: #4B82D8;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    line-height: 35px;
}

.posText {
    font-size: 12px;
    font-weight: bold;
}

.painPosRegistBox {
    width: 50px;
    height: 35px;
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    line-height: 35px;
    text-align: center;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    margin-left: 15px;
    font-weight: bold;
}

.painDetail {
    width: 480px;
    height: 440px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 30px;
}

.painExplainText{
    color: black;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
}

.painText {
    color: #ABABAB;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
}

.line2 {
    width: 100%;
    align-content: center;
    border: 1px solid #D9D9D9;
    margin-top: 20px;
}

.rightBox {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 10px;
}

.registButton {
    width: 80px;
    height: 35px;
    border-radius: 10px;
    background-color: #4B82D8;
    color: #ffffff;
    border: 1px solid #4B82D8;
    float: right;
    font-weight: bold;
}

.painStrBox {
    width: 300px;
    height: 440px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 30px;
}

.painStrCategoryBox {
    display: flex;
    height: 43px;
}

.plusButton {
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin-top: 12px;
    margin-left: 176px;
}















