<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div sec:authorize="hasAnyAuthority('ADMIN')">
        <h1>=== 관리자 페이지 ===</h1>
    </div>
    <div sec:authorize="hasAnyAuthority('USER')">
        <h1>=== 회원 페이지 ===</h1>
    </div>
    <div class="wrapbox1">
        <div class="leftbody1">
            <p class="logo1">Gym</p>
            <p class="logo2">家</p>
        </div>
        <div class="leftbody2">
<!--            <img src="/images/loginImage1.png" alt="로그인이미지" sizes="10px">-->
        </div>
        <div class="leftbody3">
            <p class="des1">Welcome!</p>
            <p class="des2">Helps you operate your gym easily and conveniently</p>
            <p class="des3">by recommending the optimal marketing solution.</p>
        </div>
    </div>

    <div class="wrapbox2">

        <div class="loginBox">
            <h1>LogIn</h1><br>
            <button type="button" >관리자</button>
            <button type="button">직원</button><br>
            <form th:action="@{/admin/admin}" th:method="post">
                ID : <input type="text" name="userId"><br>
                PASSWORD : <input type="password" name="userPwd"><br>
                <button>Sign In</button>
            </form>
                <a href="auth/find">아이디/비밀번호 찾기</a>
                <p class="des4">회원이 아니신가요?</p>
                <a href="admin/regist">계정만들기</a>
                <hr>
                <a href="admin/page">대표자 페이지</a>
                <br>
                <a href="user/page">직원 페이지</a>
        </div>

        <div class="connect">
            <form>
            <p class="des6">Connect to</p>
            <p class="des7">02) 000 - 0000</p><br>
            <p class="des8">gymga@gmail.com</p>
            </form>
        </div>

    </div>

</body>
</html>