/*.dropdown {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/

/*.dropdown-content {*/
/*    display: none;*/
/*    position: absolute;*/
/*    background-color: #f9f9f9;*/
/*    min-width: 160px;*/
/*    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
/*    z-index: 1;*/
/*}*/

/*.dropdown-content a {*/
/*    color: black;*/
/*    padding: 12px 16px;*/
/*    text-decoration: none;*/
/*    display: block;*/
/*}*/

/*.dropdown-content a:hover {*/
/*    background-color: #f1f1f1;*/
/*}*/

/*.dropdown:hover .dropdown-content {*/
/*    display: block;*/
/*}*/

/*.dropdown {*/
/*    float: right;*/
/*    margin-right: 15px;*/
/*    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);*/

/*}*/


 .query-options {
     display: flex;
     gap: 10px; /* 버튼 사이 간격을 10px로 설정 */
     float: right;
     margin-right: 15px;
     box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
     margin-top: -10px;
     margin-bottom: 5px;

 }

.expired a{
    background-color: #f9f9f9;
        color: black;
        text-decoration: none;
        display: block;

}

.inUse a{
    background-color: #f9f9f9;
    color: black;
    text-decoration: none;
    display: block;
}

.available a{
    background-color: #f9f9f9;
    color: black;
    text-decoration: none;
    display: block;
}

.personal a{
    background-color: #f9f9f9;
    color: black;
    text-decoration: none;
    display: block;
}

.all a{
    background-color: #f9f9f9;
    color: black;
    text-decoration: none;
    display: block;
}

.facList {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 8 columns with equal width */
    width: 1147px;
    min-height: 610px;
    background-color: #F0F0F0;
    gap: 20px;
}

.fac-item {
    width: 120px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    background-color: #8DD0F6;
    border-radius: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}



.facCodeLink {
    font-size: 18px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
}

.facStatus {
    font-size: 18px;
    position: relative;
    top: -20px;
    right: -65px;
    color: black;
    font-weight: bold;

}


.userCode{
    font-size: 12px;
    font-weight: normal; /* 기본 폰트 굵기 */
    /*text-align: center;*/
    /*text-indent: -40px;*/
    text-indent: 5px;
    margin-bottom: 20px;
    margin-top: -20px;
    color: black;
    top: 20px;


}

.facStart,
.facEnd {
    font-size: 12px;
    font-weight: normal;
    text-indent: 5px;
    margin-bottom: 20px;
    margin-top: -20px;
    color: black;


}

.modal-title {
    color: black;
}

label{
    color: black;
}