.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 472px;
    top: 151px;
    width: 1147px;
    height: 637px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    width: 450px;
    height: 225px;
    background-color: #fefefe;
    margin: 17.5% auto;
    border-radius: 7.5px;
    border: none;
}

.regist-modal-content {
    width: 600px;
    height: 300px;
    background-color: #fefefe;
    margin: 14.5% auto;
    border-radius: 7.5px;
    border: none;
}

.modal-content-text {
    height: 113px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.regist-modal-content-text {
    height: 93px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 23px;
}

.modal-content-text .text-1 {
    margin-top: 30px;
    line-height: 40px;
}

.modal-content-text .text-2 {
    font-size: 11.25px;
    color: #656565;
}

.regist-modal-content-text .text-1 {
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.regist-modal-content-text .text-2 {
    font-size: 12px;
    font-weight: normal;
    color: #000000;
}

/*.modal-content-button {*/
/*    height: 112px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

.modal-content p {
    color: #000000;
    font-size: 18.75px;
    font-weight: bold;
    text-align: center;
}

.modal-content button {
    width: 187.5px;
    height: 60px;
    border: none;
    font-size: 18.75px;
    font-weight: bold;
    border-radius: 7.5px;
}

.regist-modal-content-button {
    height: 206px;
    font-size: 18.75px;
    font-weight: bold;
    border-radius: 7.5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;

}

.regist-modal-content-button .pt, .gx {
    width: 225px;
    height: 150px;
    border: 0.75px solid #000000;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    cursor: pointer;

}

.pt .regist-big-font,
.gx .regist-big-font {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 20px;
}

.pt .regist-small-font,
.gx .regist-small-font {
    font-size: 12px;
    font-weight: normal;
    margin-left: 20px;
}

.pt img,
.gx img {
    margin-left: 150px;
    margin-top: 20px;
}

.confirm {
    background-color: #4B82D8;
    color: #FFFFFF;
    margin-left: 23px;
}

.close {
    background-color: #F0F0F0;
    color: #000000;
    margin-left: 27px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.updatePt-modal-content {
    width: 405px;
    height: 525px;
    background-color: #ffffff;
    margin: 4.5% auto;
    border-radius: 7.5px;
    border: none;
    color: #000000;
    display: flex;
    flex-direction: column;
    position: relative;
}

.updateGx-modal-content {
    width: 405px;
    height: 615px;
    background-color: #ffffff;
    margin-top: 11px;
    margin-left: 370px;
    border-radius: 7.5px;
    border: none;
    color: #000000;
    display: flex;
    flex-direction: column;
    position: relative;
}

.updatePt-modal-header,
.updateGx-modal-header{
    height: 60px;
    /*border-bottom: 1.5px solid #D9D9D9;*/
    display: flex;
    align-items: center;
}

.updatePt-modal-content hr,
.updateGx-modal-content hr{
    width: 95%;
    height: 2px;
    background-color: #F0F0F0;
    border:none;
    margin: 0 auto;
}

.updatePt-modal-content #changeBack,
.updateGx-modal-content #changeBack2 {
    margin-left: 15px;
    margin-right: 15px;
    border: none;
    background-color: #ffffff;
    width: 60px;
    height: 55px;
    cursor: pointer;
    position: static;
}
#changeBack img,
#changeBack2 img {
    width: 60px;
    height: 60px;
}

.updatePt-modal-header p,
.updateGx-modal-header p{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.pt-or-gx {
    height: 67px;
    display: flex;
    align-items: center;
    margin-left: 45px;
    font-size: 18px;
    font-weight: bold;
}

.updatePt-modal-content form,
.updateGx-modal-content form{
    margin-left: 45px;
}

.updatePt-modal-content label,
.updateGx-modal-content label{
    font-size: 15px;
    font-weight: bold;
}

.updatePt-modal-content input, select,
.updateGx-modal-content input, select{
    /*margin-left: 45px;*/
    width: 135px;
    height: 37.5px;
    border-radius: 7.5px;
    border: 0.75px solid #656565;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.endtime {
    margin-left: 0;
}

.time-choice,
.class-choice {
    display: flex;
    align-items: center;
}

.class-choice .margin {
    margin-left: 125px;
}
.class-choice input {
    margin-left: 45px;
}


.time-choice p {
    font-size: 15px;
    margin-left: 19px;
    margin-right: 19px;
}

.updatePt-modal-content button,
.updateGx-modal-content button{
    width: 127.5px;
    height: 45px;
    border-radius: 7.5px;
    font-weight: bold;
}

.updatePt-modal-content .check {
    position: absolute;
    top: 458px;
    left: 217px;
    background-color: #4B82D8;
    color: #FFFFFF;
    border:none;
}

.updateGx-modal-content .check {
    position: absolute;
    top: 545px;
    left: 217px;
    background-color: #4B82D8;
    color: #FFFFFF;
    border:none;
}

.updatePt-modal-content .close{
    position: absolute;
    top: 458px;
    left: 30px;
    border: 0.75px solid #4B82D8;
    color: #4B82D8;
    background-color: #FFFFFF;
}

.updateGx-modal-content .close{
    position: absolute;
    top: 545px;
    left: 30px;
    border: 0.75px solid #4B82D8;
    color: #4B82D8;
    background-color: #FFFFFF;
}
