.outerDiv {
    background: rgba(240, 240, 240, 1);
    width: 1560px;
    height: 850px;
}

.mainBox {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 1020px;
    height: 850px;
    margin-right: 30px;
    float: left;
}

.back {
    cursor: pointer;
    float: left;
}

.main {
    padding-top: 25px;
    float: left;
}

.topic {
    font-size: 24px;
    font-weight: bold;
}

.searchBox {
    margin-top: 15px;
    margin-left: 440px;
    font-size: 16px;
    font-weight: bold;
    float: left;
}

.line1 {
    width: 950px;
    align-content: center;
    background-color: rgba(217, 217, 217, 1);
}

.empInfoBox {
    width: 1020px;
    height: 300px;
    font-size: 16px;
    font-weight: bold;
    padding-top: 80px;
}

.picBox {
    width: 200px;
    text-align: center;
    margin-left: 100px;
    padding-top: 33px;
    float: left;
}

.infoBox {
    float: left;
}

.upperInfoBox {
}

.infoBox1 {
    float: left;
}

.infoBox2 {
    float: left;
}

.infoBox3 {
    clear: left;
}

.left {
    line-height: 42px;
    margin-right: 20px;
    float: left;
}

.right {
    margin-right: 20px;
    float: left;
}

span {
    width: 100px;
    height: 30px;
}

input {
    border-radius: 10px;
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
}

button {
    background-color: rgba(75, 130, 216, 1);
    border: 1px solid rgba(75, 130, 216, 1);
    border-radius: 10px;
    width: 100px;
    height: 50px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    line-height: 10px;
}

select {
    border-radius: 10px;
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
}

.detailBox {
    width: 1020px;
    font-size: 16px;
    font-weight: bold;
}

.submitButton {
    height: 50px;
    margin-top: 10px;
    margin-left: 180px;
}

.sideBox {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 480px;
    height: 850px;
    float: left;
}

.line2 {
    width: 410px;
    align-content: center;
    background-color: rgba(217, 217, 217, 1);
}

.empList {
    width: 410px;
    margin: auto
}

.empBlock {
    width: 310px;
    height: 70px;
    float: left;
    /*margin-left: 35px;*/
    margin-top: 15px;
    margin-bottom: 15px;
}

.empBlockLeft {
    width: 70px;
    height: 70px;
    float: left;
}

.empImg {
    width: 70px;
    height: 70px;
}

.empBlockRight {
    height: 60px;
    float: left;
    padding-top: 10px;
}

.empName {
    font-size: 16px;
    font-weight: bold;
    margin-top: -4px;
    margin-bottom: 6px;
    margin-left: 10px;
}

.empRole {
    font-size: 14px;
    font-weight: bold;
    margin-top: 16px;
    margin-left: 10px;
    margin-bottom: -4px;
    color: rgba(171, 171, 171, 1);
}