.pieG, .barG{
    aspect-ratio: 100 / 48.55;
    float: left;
    /*margin-top: 30px;*/
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #BDBDBD;
    padding-bottom: 10px;
    height: 310px;
    width: calc((100% - 10px - 340px - 0px) / 2);
    margin-right: 20px;
    text-align: center;
    color: black;
}
.pieG{
    /*margin-left: 30px;*/
}
.memberSale {
    color: black;
    text-align: center;
    /*font-weight: normal;*/
    aspect-ratio: 100 / 48.55;
    float: right;
    /*float: none;*/
    /*margin-top: 30px;*/
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #BDBDBD;
    padding-bottom: 10px;
    height: 635px;
    max-height: 660px;
    width: 305px;
    /*margin-right: 20px;*/
    /*min-width: 20vw;*/
    /*max-width: 22vw;*/
    /*min-height: 25vh;*/
    /*max-height: 30vh;*/
    /*overflow-y: scroll;*/
}


.salesData{
    color: black;
    text-align: center;
    /*width: 1020px;*/
    /*display: flex;*/
    /*margin-left: 30px;*/
    margin-top: 20px;
    padding: 14px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    /*min-width: 35vw;*/
    /*max-width: 100vw;*/
    /*min-height: 29vh;*/
    /*max-height: 80vh;*/
    /*min-height: 10vh;*/
    /*min-width: 10vw;*/
    /*width: 22.7vw;*/
    font-size: 16px;
    /*font-weight: bold;*/
    float:left;;
    /*overflow-y: scroll;*/
    height: 305px;
    width: 820px;
    box-shadow: 1px 1px 1px 1px #BDBDBD;
}

.td{
    min-width: 170px;
    height: 50px;
    border-bottom: 1px black;
}
.price{
    width: 130px;
    height: 50px;
    border-bottom: 1px black;
}

.date2{
    min-width: 100px;
}

.time{
    width: 100px;
    height: 50px;
}
.time2{
    width: 150px;
    height: 50px;
    font-size: 14px;
}

